<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Performance Appraisal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-item>
                  <ion-label position="floating">Date</ion-label>
                  <ion-input [(ngModel)]="appeal.date" [readonly]="true"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf='employeeName'>Employee Name</ion-label>
                  <ion-label position="floating" *ngIf="!employeeName" style="color:red !important">Employee Name
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.employeeName"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="companyNumber">Company Number</ion-label>
                  <ion-label position="floating" *ngIf="!companyNumber" style="color:red !important">Employee Number
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.companyNumber"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="employeePosition">Employee Position</ion-label>
                  <ion-label position="floating" *ngIf="!employeePosition" style="color:red !important">Employee
                    Position</ion-label>
                  <ion-input [(ngModel)]="appeal.employeePosition"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="dateStarted">Date Started</ion-label>
                  <ion-label position="floating" *ngIf="!dateStarted" style="color:red !important">Date Started
                  </ion-label>
                  <ion-datetime item-right  [(ngModel)]="appeal.dateStarted"
                  displayFormat="YYYY/MM/DD"></ion-datetime>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="site">Site</ion-label>
                  <ion-label position="floating" *ngIf="!site" style="color:red !important">Site</ion-label>
                  <ion-input [(ngModel)]="appeal.site"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="appraisalDate">Appraisal Date</ion-label>
                  <ion-label position="floating" *ngIf="!appraisalDate" style="color:red !important"> Appraisal Date
                  </ion-label>
                  <ion-datetime item-right  [(ngModel)]="appeal.appraisalDate"
                  displayFormat="YYYY/MM/DD"></ion-datetime>
                </ion-item>

                <h3>Key Performance Area</h3>

                <h3>Access Control:</h3>

                <ion-item>
                  <ion-label position="floating" *ngIf="acmaterial">Verification and authorisation of material removal
                    pass</ion-label>
                  <ion-label position="floating" *ngIf="!acmaterial" style="color:red !important">Verification and
                    authorisation of material removal pass
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.acmaterial" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="acvisitor">Verification and authorisation of visitors pass
                  </ion-label>
                  <ion-label position="floating" *ngIf="!acvisitor" style="color:red !important">Verification and
                    authorisation of visitors pass
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.acvisitor" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="acdeclare">Verification and authorisation of declaration pass
                  </ion-label>
                  <ion-label position="floating" *ngIf="!acdeclare" style="color:red !important">Verification and
                    authorisation of declaration pass
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.acdeclare" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="acpatrol">Verification and authorisation of patrol routes
                  </ion-label>
                  <ion-label position="floating" *ngIf="!acpatrol" style="color:red !important">Verification and
                    authorisation of patrol routes
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.acpatrol" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="acvehicle">Verification and authorisation of vehicle audit after
                    hours</ion-label>
                  <ion-label position="floating" *ngIf="!acvehicle" style="color:red !important">Verification and
                    authorisation of vehicle audit after hours
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.acvehicle" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <h3>Reporting</h3>

                <ion-item>
                  <ion-label position="floating" *ngIf="report2">Daily shift reporting</ion-label>
                  <ion-label position="floating" *ngIf="!report2" style="color:red !important">Daily shift reporting
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.report2" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="incident">Incident reporting</ion-label>
                  <ion-label position="floating" *ngIf="!incident" style="color:red !important">Incident reporting
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.incident" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="audit">Audit finding reporting</ion-label>
                  <ion-label position="floating" *ngIf="!audit" style="color:red !important">Audit finding reporting
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.audit" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="conformance">Non-conformance reporting</ion-label>
                  <ion-label position="floating" *ngIf="!conformance" style="color:red !important">Non-conformance
                    reporting
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.conformance" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="handover">Completion of handover documentation</ion-label>
                  <ion-label position="floating" *ngIf="!handover" style="color:red !important">Completion of handover
                    documentation
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.handover" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="patrolling">Patrolling</ion-label>
                  <ion-label position="floating" *ngIf="!patrolling" style="color:red !important">Patrolling
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.patrolling" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="participation">Internal and client property audits participation
                  </ion-label>
                  <ion-label position="floating" *ngIf="!participation" style="color:red !important">Internal and client
                    property audits participation
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.participation" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="radio">Radio communication</ion-label>
                  <ion-label position="floating" *ngIf="!radio" style="color:red !important">Radio communication
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.radio" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="document">Documentation control / admin</ion-label>
                  <ion-label position="floating" *ngIf="!document" style="color:red !important">Documentation control /
                    admin
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.document" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="emergency">Emergency procedures</ion-label>
                  <ion-label position="floating" *ngIf="!emergency" style="color:red !important">Emergency procedures
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.emergency" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="search">Searching procedures</ion-label>
                  <ion-label position="floating" *ngIf="!search" style="color:red !important">Searching procedures
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.search" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="arrest">Arrest procedures </ion-label>
                  <ion-label position="floating" *ngIf="!arrest" style="color:red !important">Arrest procedures
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.arrest" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="conflict">Conflict management</ion-label>
                  <ion-label position="floating" *ngIf="!conflict" style="color:red !important">Conflict management
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.conflict" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="relate">Public relations</ion-label>
                  <ion-label position="floating" *ngIf="!relate" style="color:red !important">Public relations
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.relate" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="chain">Follow chain of command</ion-label>
                  <ion-label position="floating" *ngIf="!chain" style="color:red !important">Follow chain of command
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.chain" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="duty">Ad hoc duties as per instructions</ion-label>
                  <ion-label position="floating" *ngIf="!duty" style="color:red !important">Ad hoc duties as per
                    instructions
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.duty" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="policy"> Adherence to Company Polices and Procedures</ion-label>
                  <ion-label position="floating" *ngIf="!policy" style="color:red !important"> Adherence to Company
                    Polices and Procedures
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.policy" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="initiative"> Taking initiative</ion-label>
                  <ion-label position="floating" *ngIf="!initiative" style="color:red !important"> Taking initiative
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.initiative" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>


                <ion-item>
                  <ion-label position="floating" *ngIf="confidence"> Self confidence</ion-label>
                  <ion-label position="floating" *ngIf="!confidence" style="color:red !important"> Self confidence
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.confidence" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="hours"> Willingness to work extended hours</ion-label>
                  <ion-label position="floating" *ngIf="!hours" style="color:red !important"> Willingness to work
                    extended hours
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.hours" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="cooperate"> Willingness to cooperate</ion-label>
                  <ion-label position="floating" *ngIf="!cooperate" style="color:red !important"> Willingness to
                    cooperate
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.cooperate" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="neatness"> Neatness</ion-label>
                  <ion-label position="floating" *ngIf="!neatness" style="color:red !important"> Neatness
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.neatness" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="rosters"> Compliance to shift rosters / attendance</ion-label>
                  <ion-label position="floating" *ngIf="!rosters" style="color:red !important"> Compliance to shift
                    rosters / attendance
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.rosters" multiple="false">
                    <ion-select-option>Poor</ion-select-option>
                    <ion-select-option>Sub-Standard</ion-select-option>
                    <ion-select-option>Meets Expectations </ion-select-option>
                    <ion-select-option>Exceeding Expectations </ion-select-option>
                    <ion-select-option>Outstanding Performance </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="recommendation">Recommendation:</ion-label>
                  <ion-label position="floating" *ngIf="!recommendation" style="color:red !important">Recommendation:
                  </ion-label>
                  <ion-textarea [(ngModel)]="appeal.recommendation">
                  </ion-textarea>
                </ion-item>


                <ion-item>
                  <ion-label position="floating" *ngIf="approve">Performance acknowledgement </ion-label>
                  <ion-label position="floating" *ngIf="!approve" style="color:red !important"> Performance
                    acknowledgement
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.approve" multiple="false">
                    <ion-select-option>Approved</ion-select-option>
                    <ion-select-option>Not-Approved</ion-select-option>

                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" >Other</ion-label>
                  <ion-input [(ngModel)]="appeal.other"></ion-input>
                </ion-item>
                <img [src]="appeal.sigUser" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("sigUser")'>Add Signature
                  </ion-button>
                </ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf="sigUser" class="ion-text-center">Manager/ Supervisor Signature *</ion-label>
                      <ion-label *ngIf="!sigUser" class="ion-text-center" style="color:red !important">Manager/
                        Supervisor Signature *
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
             
                
              </div>
          
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </section>
</ion-content>



<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check()">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>