<ion-header class="ion-no-border mobile">
  <ion-toolbar class="mbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Site Selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-holder desktop flex al-center jc-between" style="margin-top: 10%;">
    <div class="left">
      <h1>Sites</h1>
    </div>

    <div class="right path-holder">
      <h4>Home/<span>&nbsp;Sites</span> </h4>
    </div>
  </div>

  <ion-grid class="main-grid desktop" fixed style="margin-top: 20%;">
    <ion-row>
      <ion-col sizeXs="12" sizeSm="2.4" sizeMd="2.4" sizeLg="2.4" sizeXl="2.4">
        <ion-button id="active" (click)="mySites()" expand="block">
          My Sites
        </ion-button>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="2.4" sizeMd="2.4" sizeLg="2.4" sizeXl="2.4">
        <ion-button (click)="allSites()" expand="block">
          All Sites
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="main-grid mobile mobile-grid" fixed style="margin-top: 20%;">
    <ion-row>
      <ion-col sizeXs="12" sizeSm="2.4" sizeMd="2.4" sizeLg="2.4" sizeXl="2.4">
        <ion-button (click)="mySites()" expand="block">
          My Sites
        </ion-button>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="2.4" sizeMd="2.4" sizeLg="2.4" sizeXl="2.4">
        <ion-button (click)="allSites()" expand="block">
          All Sites
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
