<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-font">SUPPORT CHAT</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="status()" *ngIf="online" style="color: #249752" fill="clear">
        <ion-icon name="radio-button-on" slot="start"></ion-icon>Online
      </ion-button>
      <ion-button (click)="status()" *ngIf="!online" style="color: black" fill="clear">
          <ion-icon name="radio-button-on" slot="start"></ion-icon>Offline
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-grid>

                  <ion-row>

                    <ion-col size="9" class="message other-message">

                      <ion-row>

                        <ion-col size="2">
                          <ion-avatar>
                            <img src="assets/icon/icon.png">
                          </ion-avatar>
                        </ion-col>

                        <ion-col class="user-name">
                          <b>Security Control Support</b>
                        </ion-col>

                      </ion-row>

                      <span>Need Assistance? Ask our Support Team here...</span><br>

                      <div class="time ion-text-right">
                        {{ now | date:'short' }}
                      </div>

                    </ion-col>

                  </ion-row>

                  <ion-row *ngFor="let chat of chats | async">

                    <ion-col size="9" *ngIf="currentUser !== chat.user" class="message other-message">

                      <ion-row>

                        <ion-col size="2">
                          <ion-avatar>
                            <img [src]="chat.photo">
                          </ion-avatar>
                        </ion-col>

                        <ion-col class="user-name">
                          <b>{{ chat.user }}</b>
                        </ion-col>

                      </ion-row>

                      <ion-row>
                        <ion-col class="ion-text-center">
                          <img *ngIf="chat.attachment && chat.attachment !==''"
                            [src]="chat.attachment" style="max-height: 200px; max-width: 200px;">
                        </ion-col>
                      </ion-row>

                      <span>{{ chat.message }}</span><br>

                      <ion-row>
                        <ion-col class="ion-text-left">
                          <ion-icon *ngIf="chat.status === 'unread'" style="color: #ffffff !important"
                            name="checkmark"></ion-icon>
                          <ion-icon *ngIf="chat.status === 'read'" style="color: #ffffff !important"
                            name="done-all">{{chat.status}}</ion-icon>
                        </ion-col>
                        <ion-col>
                          <div class="time ion-text-right">
                            {{ chat.createdAt | date:'short' }}
                          </div>
                        </ion-col>
                      </ion-row>

                    </ion-col>

                    <ion-col offset="3" size="9" *ngIf="currentUser === chat.user" class="message my-message">

                      <ion-row>

                        <ion-col size="2">
                          <ion-avatar>
                            <img *ngIf="user.photo" [src]="user.photo">
                            <img *ngIf="!user.photo" src="assets/imgs/user.jpg">
                          </ion-avatar>
                        </ion-col>

                        <ion-col class="user-name">
                          <b>{{ chat.user }}</b>
                        </ion-col>

                      </ion-row>

                      <ion-row>
                        <ion-col class="ion-text-center">
                          <img *ngIf="chat.attachment && chat.attachment !==''" [src]="chat.attachment"
                            style="max-height: 200px; max-width: 200px;">
                        </ion-col>
                      </ion-row>

                      <span>{{ chat.message }}</span><br>

                      <ion-row>
                        <ion-col class="ion-text-left">
                          <ion-icon *ngIf="chat.status === 'unread'" style="color: #ffffff !important"
                            name="checkmark"></ion-icon>
                          <ion-icon *ngIf="chat.status === 'read'" style="color: #ffffff !important"
                            name="done-all">{{chat.status}}</ion-icon>
                        </ion-col>
                        <ion-col>
                          <div class="time ion-text-right">
                            {{ chat.createdAt | date:'short' }}
                          </div>
                        </ion-col>
                      </ion-row>

                    </ion-col>

                  </ion-row>

                </ion-grid>

                <input #picture (change)="fileChangeEvent($event)" style="display:none;" type="file" accept="image/*"
                  capture="camera">


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</ion-content>

<ion-footer>

  <ion-toolbar color="light" class="footer-padding" [ngClass]="{'attachment': chat.attachment !== ''}">

    <ion-row class="ion-align-items-center">

      <ion-col size="9">

        <ion-row *ngIf="chat.attachment !== ''">
          <ion-col size="2" style="color: #666666; text-align: center;">
            <img [src]="chat.attachment" style="max-width: 15px; max-height: 15px;">
          </ion-col>
          <ion-col size="8" style="color: #666666; text-align: center;">
            Image attached...
          </ion-col>
          <ion-col style="color: red; text-align: center;">
            <ion-icon (click)="remove()" name="close"></ion-icon>
          </ion-col>
        </ion-row>

        <textarea placeholder="Your message..." autosize maxRows="3" [(ngModel)]="chat.message"
          class="message-input"></textarea>

      </ion-col>

      <ion-col size="3" class="ion-no-padding">

        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding ion-text-center">
            <ion-button class="ion-no-padding msg-btn" fill="clear" color="success" [disabled]="chat.message ===''"
              (click)="sendMessage()">
              <ion-icon name="send" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-no-padding ion-text-center">
            <ion-button class="ion-no-padding" *ngIf="!app" (click)="picture.click()" fill="clear">
              <ion-icon name="attach" slot="icon-only"></ion-icon>
            </ion-button>

            <ion-button class="ion-no-padding" *ngIf="app" (click)="attach()" fill="clear">
              <ion-icon name="attach" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-footer>