<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start">
      <ion-button *ngIf="prevButton" (click)="prev()">Prev <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="exitButton" (click)="exit()">Exit <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vehicle Inspection</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="nxtButton" (click)="next()">Next <ion-icon name="arrow-forward" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-slides #slides pager="false" [options]="{autoScaleSlider: true}">

                  <ion-slide>

                    <ion-item>
                      <ion-label position="stacked">Date</ion-label>
                      <ion-input [readonly]="true" [(ngModel)]="vehicle.date"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">Time</ion-label>
                      <ion-input [readonly]="true" [(ngModel)]="vehicle.time"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">Manager/ Supervisor</ion-label>
                      <ion-input [readonly]="true" [(ngModel)]="vehicle.inspector"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="shiftValue" position="stacked">Shift *</ion-label>
                      <ion-label *ngIf="!shiftValue" position="stacked" style="color:red !important">Shift *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.shift">
                        <ion-select-option>Day</ion-select-option>
                        <ion-select-option>Night</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.shift"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="regValue" position="stacked">Registration *</ion-label>
                      <ion-label *ngIf="!regValue" position="stacked" style="color:red !important">Registration *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.fleetKey" (ionChange)="getVehicle(vehicle)">
                        <ion-select-option *ngFor="let reg of registrations | async" [value]=reg.key>
                          {{reg.registration}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.fleetKey"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="odometerValue" position="stacked">Odometer Reading *</ion-label>
                      <ion-label *ngIf="!odometerValue" position="stacked" style="color:red !important">Odometer
                        Reading *</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="vehicle.odometer" type="number"
                        (click)="getVehicle(vehicle)"></ion-input>
                    </ion-item>

                  </ion-slide>

                  <ion-slide>

                    <h4 class="ion-text-center">VEHICLE EXTERIOR</h4>

                    <ion-item>
                      <ion-label *ngIf="tiresValue" position="stacked">Are the tyres in an acceptable condition?
                      </ion-label>
                      <ion-label *ngIf="!tiresValue" position="stacked" style="color:red !important">Are the tyres in
                        an acceptable
                        condition?</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.tires">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.tires"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="wipersValue" position="stacked">Are the Windscreen Wipers working correctly?
                      </ion-label>
                      <ion-label *ngIf="!wipersValue" position="stacked" style="color:red !important">Are the
                        Windscreen Wipers working
                        correctly?</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.wipers">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.wipers"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="headValue" position="stacked">Are the Headlights Working Correctly?</ion-label>
                      <ion-label *ngIf="!headValue" position="stacked" style="color:red !important">Are the Headlights
                        Working Correctly?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.headlights">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.headlights"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="tailValue" position="stacked">Are the Tail and Break Lights Working?
                      </ion-label>
                      <ion-label *ngIf="!tailValue" position="stacked" style="color:red !important">Are the Tail and
                        Break Lights Working?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.tail">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.tail"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="indicatorsValue" position="stacked">Are the Indicators Working Correctly?
                      </ion-label>
                      <ion-label *ngIf="!indicatorsValue" position="stacked" style="color:red !important">Are the
                        Indicators Working
                        Correctly?</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.indicators">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.indicators"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="hazardValue" position="stacked">Are the Hazard Lights Working Correctly?
                      </ion-label>
                      <ion-label *ngIf="!hazardValue" position="stacked" style="color:red !important">Are the Hazard
                        Lights Working
                        Correctly?</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.hazards">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.hazards"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="platesValue" position="stacked">Are the Number Plates Correct and Undamaged?
                      </ion-label>
                      <ion-label *ngIf="!platesValue" position="stacked" style="color:red !important">Are the Number
                        Plates Correct and
                        Undamaged?</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.plates">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.plates"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="discValue" position="stacked">Is the License Disc Still Valid?</ion-label>
                      <ion-label *ngIf="!discValue" position="stacked" style="color:red !important">Is the License Disc
                        Still Valid?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.disc">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.disc"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="oilValue" position="stacked">Are the Oil and Water Levels Sufficient?
                      </ion-label>
                      <ion-label *ngIf="!oilValue" position="stacked" style="color:red !important">Are the Oil and
                        Water Levels Sufficient?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.oil">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.oil"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="exteriorValue" position="stacked">Is the Exterior Clean and Undamaged?
                      </ion-label>
                      <ion-label *ngIf="!exteriorValue" position="stacked" style="color:red !important">Is the Exterior
                        Clean and Undamaged?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.exterior">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.exterior"></ion-input>
                    </ion-item>

                  </ion-slide>

                  <ion-slide>

                    <h4 class="ion-text-center">VEHICLE INTERIOR</h4>

                    <ion-item>
                      <ion-label *ngIf="breaksValue" position="stacked">Are the Brakes Working Correctly?</ion-label>
                      <ion-label *ngIf="!breaksValue" position="stacked" style="color:red !important">Are the Brakes
                        Working Correctly?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.breaks">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.breaks"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="handValue" position="stacked">Is the Handbrake Working Correctly?</ion-label>
                      <ion-label *ngIf="!handValue" position="stacked" style="color:red !important">Is the Handbrake
                        Working Correctly?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.handbreak">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.handbreak"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="clutchValue" position="stacked">Is the Clutch Working Correctly?</ion-label>
                      <ion-label *ngIf="!clutchValue" position="stacked" style="color:red !important">Is the Clutch
                        Working Correctly?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.clutch">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.clutch"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="mirrorsValue" position="stacked">Are the Mirrors Correct and Undamaged?
                      </ion-label>
                      <ion-label *ngIf="!mirrorsValue" position="stacked" style="color:red !important">Are the Mirrors
                        Correct and Undamaged?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.mirrors">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.mirrors"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="hooterValue" position="stacked">Is the Hooter Working Correctly?</ion-label>
                      <ion-label *ngIf="!hooterValue" position="stacked" style="color:red !important">Is the Hooter
                        Working Correctly?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.hooter">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.hooter"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="lightsValue" position="stacked">Are the Interior Lights Working Correctly?
                      </ion-label>
                      <ion-label *ngIf="!lightsValue" position="stacked" style="color:red !important">Are the Interior
                        Lights Working
                        Correctly?</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.lights">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.lights"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="beltsValue" position="stacked">Are the Safety Belts Working Correctly?
                      </ion-label>
                      <ion-label *ngIf="!beltsValue" position="stacked" style="color:red !important">Are the Safety
                        Belts Working Correctly?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.belts">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.belts"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="spareValue" position="stacked">Is the Spair Wheel Available and in Good
                        Condition?
                      </ion-label>
                      <ion-label *ngIf="!spareValue" position="stacked" style="color:red !important">Is the Spair Wheel
                        Available and in Good
                        Condition?</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.spare">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.spare"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="jackValue" position="stacked">Are the Spanner & Jack Available?</ion-label>
                      <ion-label *ngIf="!jackValue" position="stacked" style="color:red !important">Are the Spanner &
                        Jack Available?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.jack">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.jack"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="interiorValue" position="stacked">Is the Interior Clean and Undamaged?
                      </ion-label>
                      <ion-label *ngIf="!interiorValue" position="stacked" style="color:red !important">Is the Interior
                        Clean and Undamaged?
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="vehicle.interior">
                        <ion-select-option>YES</ion-select-option>
                        <ion-select-option>NO</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="vehicle.interior"></ion-input>
                    </ion-item>

                  </ion-slide>

                  <ion-slide>

                    <ion-label class="ion-text-center">Photo of Spare Wheel, Jack & Spanner: </ion-label>

                    <div [hidden]="view">
                      <ion-row [hidden]="!isApp">
                        <ion-col class="ion-text-center">
                          <ion-button (click)="takePhoto1()">
                            <ion-icon name="camera" slot="start"></ion-icon>Photo
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row [hidden]="isApp">
                        <ion-col class="ion-text-center">
                          <ion-button (click)="picture1.click()">
                            <ion-icon name="camera" slot="start"></ion-icon>Photo
                          </ion-button>
                        </ion-col>
                        <image-cropper [imageChangedEvent]="imageChangedEvent1" [maintainAspectRatio]="true"
                          [aspectRatio]="4 / 4" [resizeToWidth]="300" format="png"
                          (imageCropped)="imageCropped1($event)">
                        </image-cropper>
                      </ion-row>
                    </div>
                    <input #picture1 (change)="fileChangeEvent1($event)" style="display:none;" type="file"
                      accept="image/*" capture="camera">
                    <div text-centre>
                      <img *ngIf="vehicle.photo1" [src]=vehicle.photo1 class="thumb">
                    </div>

                    <ion-label class="ion-text-center">Photo of Damage Found: </ion-label>

                    <div [hidden]="view">
                      <ion-row [hidden]="!isApp">
                        <ion-col class="ion-text-center">
                          <ion-button (click)="takePhoto2()">
                            Add Photos
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row [hidden]="isApp">
                        <ion-col class="ion-text-center">
                          <ion-button (click)="picture2.click()">
                          Add Photos
                          </ion-button>
                        </ion-col>
                        <image-cropper [imageChangedEvent]="imageChangedEvent2" [maintainAspectRatio]="true"
                          [aspectRatio]="4 / 4" [resizeToWidth]="300" format="png"
                          (imageCropped)="imageCropped2($event)">
                        </image-cropper>
                      </ion-row>
                    </div>
                    <input #picture2 (change)="fileChangeEvent2($event)" style="display:none;" type="file"
                      accept="image/*" capture="camera">

                    <div style="margin-bottom: 1px;" *ngFor="let phot of vehicle.photo2"  text-centre>
                      <img [src]=phot class="thumb">
                    </div>

                   <img [src]="vehicle.signature" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("signature")'>Add Inspector Signature
                      </ion-button>
                    </ion-item>


                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-item>
                          <ion-label *ngIf="sigValue" class="ion-text-center">Inspector Signature *</ion-label>
                          <ion-label *ngIf="!sigValue" class="ion-text-center" style="color:red !important">Inspector
                            Signature *</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
            
                  </ion-slide>

                </ion-slides>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check(vehicle)">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>