<ion-header>
  <ion-toolbar color="success" mode="ios">
    <ion-title style="font-size: smaller;">Signature</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="close()" fill="clear"> <ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>


<ion-row [ngClass]="{'drawing-active': isDrawing}">
  <ion-col class="ion-text-center">
    <signature-pad style="border: solid #666666;" #sigPad ngDefaultControl
      [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
      (onEndEvent)="drawComplete()">
    </signature-pad>
  </ion-col>
</ion-row>
<ion-row >
  <ion-col class="ion-text-center">
    <ion-button fill="clear" color="danger" (click)="clearPad()">Reset Signature</ion-button>
  </ion-col>
</ion-row>


</ion-content>
