<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Grievance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-item>
                  <ion-label position="floating">Date</ion-label>
                  <ion-input [(ngModel)]="appeal.date" [readonly]="true"></ion-input>
                </ion-item>


                <ion-item>
                  <ion-label position="floating" *ngIf='employeeName'>Employee Name</ion-label>
                  <ion-label position="floating" *ngIf="!employeeName" style="color:red !important">Employee Name
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.employeeName"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf='employeePosition'>Employee Position </ion-label>
                  <ion-label position="floating" *ngIf="!employeePosition" style="color:red !important">Employee
                    Position
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.employeePosition"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf='employeeNumber'>Employee Number </ion-label>
                  <ion-label position="floating" *ngIf="!employeeNumber" style="color:red !important">Employee Number
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.employeeNumber"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf='managerName'>Manager Name </ion-label>
                  <ion-label position="floating" *ngIf="!managerName" style="color:red !important">Manager Name
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.managerName"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf='managerPosition'>Manager Position </ion-label>
                  <ion-label position="floating" *ngIf="!managerPosition" style="color:red !important">Manager Position
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.managerPosition"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf='site'>Company/Site </ion-label>
                  <ion-label position="floating" *ngIf="!site" style="color:red !important">Company/Site
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.site"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" *ngIf='grievanceNature'>Nature of Grievance </ion-label>
                  <ion-label position="floating" *ngIf="!grievanceNature" style="color:red !important">Nature of
                    Grievance
                  </ion-label>
                  <ion-textarea [(ngModel)]="appeal.grievanceNature"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf='settlement'>Settlement Desired </ion-label>
                  <ion-label position="floating" *ngIf="!settlement" style="color:red !important">Settlement Desired
                  </ion-label>
                  <ion-textarea [(ngModel)]="appeal.settlement"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf='interpreter'>Do you require an interpreter </ion-label>
                  <ion-label position="floating" *ngIf="!interpreter" style="color:red !important">Do you require an
                    interpreter
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.interpreter"></ion-input>
                </ion-item>


                <ion-item>
                  <ion-label position="floating" *ngIf='rep'> Name of Representititve (if required, limited to a fellow
                    employee)</ion-label>
                  <ion-label position="floating" *ngIf="!rep" style="color:red !important"> Name of Representititve (if
                    required, limited to a fellow employee)
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.rep"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf='designation'>Designation </ion-label>
                  <ion-label position="floating" *ngIf="!designation" style="color:red !important">Designation
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.designation"></ion-input>
                </ion-item>

                <img [src]="appeal.empSig" style="display: block; margin-left: auto; margin-right: auto;" alt="">

                <ion-item lines="none">
                  <ion-button style="margin-left: auto; margin-right: auto;" (click)='openPOP("empSig")'>Add Employee
                    Signature
                  </ion-button>
                </ion-item>


                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf='empSig' class="ion-text-center">Employee Signature</ion-label>
                      <ion-label *ngIf='!empSig' class="ion-text-center" style="color:red !important">Employee Signature
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>



                <ion-item>
                  <ion-label position="floating" *ngIf='recieved'>Recieved By </ion-label>
                  <ion-input [(ngModel)]="appeal.recieved"></ion-input>
                </ion-item>

                <img [src]="appeal.supsign" style="display: block; margin-left: auto; margin-right: auto;" alt="">

                <ion-item lines="none">
                  <ion-button style="margin-left: auto; margin-right: auto;" (click)='openPOP("supsign")'>Add Supervisor
                    Signature
                  </ion-button>
                </ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf='supsign' class="ion-text-center">Supervisor Signature</ion-label>
                      <ion-label *ngIf='!supsign' class="ion-text-center" style="color:red !important">Employee
                        Signature
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check()">
        Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>