<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-font">SETUP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="setup">
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-grid>
                  <ion-row>
                    <ion-col class="title">
                      <h4>REPORT SETTINGS</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-header">
                    <ion-col size="4" class="grid-header-item ">REPORT</ion-col>
                    <ion-col size="6" class="grid-header-item ">DEFAULT EMAIL RECIPIENTS</ion-col>
                    <ion-col size="2">
                     ADD/REMOVE
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">SITE VISIT REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.visit}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editVisit()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">CRIME INCIDENT REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.incident}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editIncident()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">MEETING REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.meeting}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editMeeting()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">UNIFORM ORDER</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.uniform}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editUnifom()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">TRAINING FORM</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.training}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editTraining()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">VEHICLE INSPECTION</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.vehicle}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editVehicle()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">DISCIPLINARY NOTICE</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.disciplinary}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editDisciplinary()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row"
                    *ngIf="user.companyId == '0qbfVjnyuKE8EAdenn3T' || user.companyId == '62370402-ecae-a16e-6f5a-5fe7c4d5532d'">
                    <ion-col size="4" class="grid-row-item ">TRANSPARENCY REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.transparency}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editTransparency()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">GEN INCIDENT REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.incidentGen}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editIncGen()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">LEAVE APPLICATION</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.leave}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editLeave()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">OB ENTRY</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.ob}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editOBEntry()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">RISK ASSESSMENT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.assessment}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editAssessment()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row"
                    *ngIf="user.companyId == '0qbfVjnyuKE8EAdenn3T' || user.companyId == '62370402-ecae-a16e-6f5a-5fe7c4d5532d'">
                    <ion-col size="4" class="grid-row-item ">TENANT VISIT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.tenant}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editTenant()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">INCIDENT NOTIFICATION</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.notification}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editNotification()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="grid-row">
                    <ion-col size="4" class="grid-row-item ">CLIENT INSTRUCTION</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.instruction}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="editInstruction()">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>


                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">APPEAL FORM</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.appeal}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('appeal')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">TEMPERATRURE CHECKLIST</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.temperature}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('temperature')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">PERFORMANCE APPRAISAL
                    </ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.performance}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('performance')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">FENCE INSPECTION
                    </ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.incident}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('fence')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">GRIEVANCE FORM</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.grievance}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('grievance')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">POLYGRAPH REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.polygraph}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('polygraph')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">PAY-QUERY REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.payquery}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('payquery')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">RESIGNATION FORM</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.resignate}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('resignate')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user. companyId === 'gC9ZUArZzn1rlIBRZHLv'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">INJURY REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.injury}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('injury')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">FIRE REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.fire}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('fire')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user. companyId === 'gC9ZUArZzn1rlIBRZHLv'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">THEFT REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.theft}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('theft')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">GAS EXPLOSION REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.gas}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('gas')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="user.companyId === 'gC9ZUArZzn1rlIBRZHLv' || '62370402-ecae-a16e-6f5a-5fe7c4d5532d'" class="grid-row">
                    <ion-col size="4" class="grid-row-item ">EXTINGUISHER CHECKLIST REPORT</ion-col>
                    <ion-col size="6" class="grid-row-item" style="line-height: 20px">{{company.extinguisher}}</ion-col>
                    <ion-col size="2" class="last-col ">
                      <ion-button icon-only clear (click)="edit('extinguisher')">
                        <ion-icon name="build"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>


                </ion-grid>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>