<!-- 
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-buttons slot="start">
      <ion-button class="support-btn">
        Support
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" slot="end">
      <ion-avatar slot="end">
        <img src="assets/imgs/user.jpeg" alt="">
      </ion-avatar>
      <ion-label>
        <select name="cars" id="cars">
          <option value="volvo">Lamu Dlamini</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <p>Admin</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="top-holder flex al-center jc-between">
    <div class="left">
      <h1>Users</h1>
    </div>

    <div class="right path-holder">
      <h4>Home/<span>&nbsp;Users</span> </h4>
    </div>
  </div>


  <div class="btn-holder add-btn">
    <ion-button (click)="add()">
      <ion-icon slot="start" name="add"></ion-icon>
      Add New User
    </ion-button>
  </div>

  <ion-grid class="main-grid" fixed>
    <ion-row class="ion-align-items-center">
      <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="12">
        <div class="holder">
          <div class="the-header flex al-center jc-between">
            <h2>Users</h2>
           <div class="search-holder">
            <ion-searchbar placeholder="" inputmode="decimal" type="decimal"  [debounce]="250" showCancelButton="never"></ion-searchbar>
           </div>
          </div>

          <ion-row class="headers">
            <ion-col sizeXs="5" sizeSm="7" sizeMd="7" sizeLg="8" sizeXl="8"  class="dates">
              <h4>User Name</h4>
            </ion-col>
            <ion-col sizeXs="7" sizeSm="5" sizeMd="5" sizeLg="4" sizeXl="4">
              <h4>Action</h4>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let user of users | async" class="values" style="width: 100% !important;">
            <ion-col sizeXs="5" sizeSm="7" sizeMd="7" sizeLg="8" sizeXl="8"  class="dates">
              <h5>{{user.name}}</h5>
            </ion-col>
            <ion-col sizeXs="7" sizeSm="5" sizeMd="5" sizeLg="4" sizeXl="4" class="flex al-center jc-between">
              <div (click)="view(user)" class="btn ion-activatable ripple-parent flex al-center">
                <ion-icon name="eye"></ion-icon>
                <h5>&nbsp;&nbsp;View</h5>
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              </div>

              <div (click)="edit(user)" class="btn ion-activatable ripple-parent flex al-center">
                <ion-icon src="assets/imgs/editsm.svg"></ion-icon>
                <h5>&nbsp;&nbsp;Edit</h5>
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              </div>

              <div (click)="delete(user)" class="btn ion-activatable ripple-parent flex al-center" id="delete">
                <ion-icon src="assets/imgs/smdelete.svg"></ion-icon>
                <h5>&nbsp;&nbsp;Delete</h5>
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              </div>
            </ion-col>
          </ion-row>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="footer desktop">
    <p class="ion-text-wrap"> All Rights Reserved | Copyright <span>@securitycontrol.co.za</span> </p>
  </div>
</ion-content>