.mtool
{
    --background: #1B1C1D;

    ion-buttons
    {

        ion-back-button
        {
            --color: white;
            text-transform: none;
            font-size: 14px;
        }
        ion-button
        {
            --color: #4B4A4A;
        }
    }
}


ion-content
{
    .main-grid
    {
        padding: 0 !important;

        .the-header
        {
            padding: 20px;
            h2
            {
                color: #E2E2E2;
                font-family: 'SBold';
                font-size: 14px;
                margin: 0;
            }
        }
        .holder
        {
            background: #100F10;
            border-radius: 10px;

            .the-content
            {
                .form
                {
                    padding: 0 0 0 20px;
                    .input-item
                    {
                        ion-label
                        {
                            color: #848484;
                            font-family: 'Regular';
                            font-size: 10px;
                        }
                        ion-item
                        {
                            --background: transparent;
                            ion-input,ion-textarea
                            {
                                color: #E2E2E2;
                                font-family: 'SBold';
                                font-size: 10px;
                            }
                        }
                    }
                }


                .headers
                {

                    h4
                    {
                        color: #3C3C3C;
                        font-family: 'Regular';
                        font-size: 12px;
                        margin: 5px 0;
                    }
                }

                #delete
                {
                    h5
                    {
                        color: #FF4343;
                    }
                }
                .values
                {

                    
                   .btn
                   {
                    ion-icon
                    {
                        margin-right: 10px;
                    }
                   }

                    h5
                    {
                        color: #848484;
                        font-family: 'Regular';
                        font-size: 10px;
                        margin: 5px 0;
                    }
                }

              
            }
        }


        .btn-holder
        {
            #cancel
            {
                --color: white !important;
            }


            ion-button
            {
                font-size: 12px;
            }
        }

        .section-holder
        {
            .the-header
            {
                padding: 20px !important;

                ion-icon
                {
                    color: #E2E2E2;
                }
            }

            .staff-btn
            {
                ion-button
                {
                    --background: #3CB480;
                    font-size: 12px;
                }
            }
        }
    }
}