<ion-header>
  <ion-toolbar color="primary" id="trans">
    <ion-buttons left>
      <ion-button icon-left (click)="prev()">
        <ion-icon name="arrow-back"></ion-icon> Prev
      </ion-button>
    </ion-buttons>
    <ion-title class="upper" id="titlesv">Site Visit Report</ion-title>
    <ion-buttons end>
      <ion-button *ngIf="nxtButton" icon-right (click)="next()">Next
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="visit-bod">
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">
                <ion-slides #visitSlider>

                  <ion-slide>

                    <ion-item>
                      <ion-label floating>Date</ion-label>
                      <ion-input [readonly]="true" [(ngModel)]="visit.date">{{visit.date}}</ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Time</ion-label>
                      <ion-input [readonly]="true" [(ngModel)]="visit.time">{{visit.time}}</ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Manager</ion-label>
                      <ion-input [readonly]="true" [(ngModel)]="visit.manager">{{visit.manager}}</ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="siteValue" floating>Site Name *</ion-label>
                      <ion-label *ngIf="!siteValue" floating style="color:red">Site Name *</ion-label>
                      <ion-select interface="popover"(click)="searchSites(visit)" (ionChange)="getSiteDetails(visit)"
                        [(ngModel)]="visit.siteKey">
                        <ion-select-option *ngFor="let site of sites | async" [value]=site.key>{{site.name}}</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="obValue" floating>OB Number *</ion-label>
                      <ion-label *ngIf="!obValue" floating style="color:red">OB Number *</ion-label>
                      <ion-input [(ngModel)]="visit.ob" type="text"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="shiftValue" floating>Shift *</ion-label>
                      <ion-label *ngIf="!shiftValue" floating style="color:red">shift *</ion-label>
                      <ion-select interface="popover"[(ngModel)]="visit.shift">
                        <ion-select-option>Day</ion-select-option>
                        <ion-select-option>Night</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <p *ngIf="!photoValue" style="color:red" text-center>Please take a Photo of the Site</p>
                    <ion-row *ngIf="isApp">
                      <ion-col text-center>
                        <ion-button (click)="takePhoto1()" icon-left class="photo">
                          <ion-icon name="camera"></ion-icon>Photo of Site *
                        </ion-button>
                      </ion-col>
                    </ion-row>
                    <div *ngIf="!isApp" text-center>
                      <ion-button (click)="picture.click()" icon-left>
                        <ion-icon name="camera"></ion-icon>Photo of Site *
                      </ion-button>
                    </div>
                    <input #picture style="display:none;" type="file" accept="image/*" capture="camera">
                    <img *ngIf="visit.photo1" [src]=visit.photo1 class="thumb">

                  </ion-slide>

                  <ion-slide>

                    <p text-center>STAFF MEMBER INSPECTION</p>

                    <ion-item>
                      <ion-label *ngIf="numValue" floating>Number of Staff on Duty *</ion-label>
                      <ion-label *ngIf="!numValue" floating style="color:red">Number of Staff on Duty *</ion-label>
                      <ion-input [(ngModel)]="visit.numSo" type="number"></ion-input>
                    </ion-item>

                    <div *ngIf="visit.numSo > 0">
                      <ion-item>
                        <ion-label *ngIf="soValue" floating>Staff Member on Duty *</ion-label>
                        <ion-label *ngIf="!soValue" floating style="color:red">Staff Member on Duty *</ion-label>
                        <ion-select interface="popover"(ionChange)="guardDetails(visit)" [(ngModel)]="visit.soKey">
                          <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}</ion-select-option>
                        </ion-select>
                      </ion-item>

                      <p *ngIf="!photo2Value" style="color:red" text-center>Please take a Photo of the Staff Member</p>
                      <ion-row *ngIf="isApp">
                        <ion-col text-center>
                          <ion-button (click)="takePhoto2()" icon-left class="photo">
                            <ion-icon name="camera"></ion-icon>Staff Member Photo *
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="!isApp">
                        <ion-col text-center>
                          <ion-button (click)="picture2.click()" icon-left>
                            <ion-icon name="camera"></ion-icon>Staff Member Photo *
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <img *ngIf="visit.photo2" [src]=visit.photo2 class="thumb">

                      <ion-item>
                        <ion-label *ngIf="postValue" floating>Staff Member Post *</ion-label>
                        <ion-label *ngIf="!postValue" floating style="color:red">Staff Member Post *</ion-label>
                        <ion-input [(ngModel)]="visit.soPost" type="text" autocomplete="true" spellcheck="true">
                        </ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label *ngIf="uniformValue" floating>Is the Staff Member's uniform neat and Serviceable? *
                        </ion-label>
                        <ion-label *ngIf="!uniformValue" floating style="color:red">Is the Staff Member's uniform neat
                          and Serviceable? *</ion-label>
                        <ion-select interface="popover"[(ngModel)]="visit.uniforms">
                          <ion-select-option>Yes</ion-select-option>
                          <ion-select-option>No</ion-select-option>
                          <ion-select-option>Not Applicable</ion-select-option>
                        </ion-select>
                      </ion-item>

                      <ion-item>
                        <ion-label floating>Comments</ion-label>
                        <ion-input [(ngModel)]="visit.com1" autocomplete="true" type="text" spellcheck="true">
                        </ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label *ngIf="roomValue" floating>Is the guardroom neat and tidy? *</ion-label>
                        <ion-label *ngIf="!roomValue" floating style="color:red">Is the guardroom neat and tidy? *
                        </ion-label>
                        <ion-select interface="popover"[(ngModel)]="visit.guardroom">
                          <ion-select-option>Yes</ion-select-option>
                          <ion-select-option>No</ion-select-option>
                          <ion-select-option>Not Applicable</ion-select-option>
                        </ion-select>
                      </ion-item>

                      <ion-item>
                        <ion-label floating>Comments</ion-label>
                        <ion-input [(ngModel)]="visit.com2" type="text" autocomplete="true" spellcheck="true">
                        </ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label *ngIf="obBookValue" floating>Is the O.B book completed? *</ion-label>
                        <ion-label *ngIf="!obBookValue" floating style="color:red">Is the O.B book completed? *
                        </ion-label>
                        <ion-select interface="popover"[(ngModel)]="visit.obComplete">
                          <ion-select-option>Yes</ion-select-option>
                          <ion-select-option>No</ion-select-option>
                          <ion-select-option>Not Applicable</ion-select-option>
                        </ion-select>
                      </ion-item>

                      <ion-item>
                        <ion-label floating>Comments</ion-label>
                        <ion-input [(ngModel)]="visit.com3" type="text" autocomplete="true" spellcheck="true">
                        </ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label *ngIf="regValue" floating>Are all registers in use and up to date? *</ion-label>
                        <ion-label *ngIf="!regValue" floating style="color:red">Is all registers in use and up to date?
                          *</ion-label>
                        <ion-select interface="popover"[(ngModel)]="visit.registers">
                          <ion-select-option>Yes</ion-select-option>
                          <ion-select-option>No</ion-select-option>
                          <ion-select-option>Not Applicable</ion-select-option>
                        </ion-select>
                      </ion-item>

                      <ion-item>
                        <ion-label floating>Comments</ion-label>
                        <ion-input [(ngModel)]="visit.com4" type="text" autocomplete="true" spellcheck="true">
                        </ion-input>
                      </ion-item>

                      <img [src]="visit.guardSig" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                      <ion-item lines="none">
                        <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("guardSig")'>Add Staff Signature
                        </ion-button>
                      </ion-item>

                      <ion-row>
                        <ion-item>
                          <ion-label *ngIf="guardSigValue" text-center>Staff Member Signature *</ion-label>
                          <ion-label *ngIf="!guardSigValue" text-center style="color:red">Staff Member Signature *
                          </ion-label>
                        </ion-item>
                      </ion-row>
</div>

                    <input #picture2 style="display:none;" type="file" accept="image/*" capture="camera">

                  </ion-slide>

                  <ion-slide>
                    <p text-center>SITE CHECKLIST INSPECTION</p>

                    <ion-item>
                      <ion-label *ngIf="alarmsValue" floating>Are alarms Functional? *</ion-label>
                      <ion-label *ngIf="!alarmsValue" floating style="color:red">Are alarms Functional? *</ion-label>
                      <ion-select interface="popover"[(ngModel)]="visit.alarms">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Comments</ion-label>
                      <ion-input [(ngModel)]="visit.com5" type="text" autocomplete="true" spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="radiosValue" floating>Are all radios in working order? *</ion-label>
                      <ion-label *ngIf="!radiosValue" floating style="color:red">Are all radios in working order? *
                      </ion-label>
                      <ion-select interface="popover"[(ngModel)]="visit.radios">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Comments</ion-label>
                      <ion-input [(ngModel)]="visit.com6" type="text" autocomplete="true" spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="panicValue" floating>Is the panic buttons Available and in working order during
                        the visit? *</ion-label>
                      <ion-label *ngIf="!panicValue" floating style="color:red">Is the panic buttons Available and in
                        working order during the visit? *</ion-label>
                      <ion-select interface="popover"[(ngModel)]="visit.panic">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Comments</ion-label>
                      <ion-input [(ngModel)]="visit.com7" type="text" autocomplete="true" spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="phoneValue" floating>Is the site phone available and operational? *</ion-label>
                      <ion-label *ngIf="!phoneValue" floating style="color:red">Is the site phone available and
                        operational? *</ion-label>
                      <ion-select interface="popover"[(ngModel)]="visit.phone">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Comments</ion-label>
                      <ion-input [(ngModel)]="visit.com8" type="text" autocomplete="true" spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="patrolValue" floating>Is the Guard patrol system operational and in use? *
                      </ion-label>
                      <ion-label *ngIf="!patrolValue" floating style="color:red">Is the Guard patrol system operational
                        and in use? *</ion-label>
                      <ion-select interface="popover"[(ngModel)]="visit.patrol">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Comments</ion-label>
                      <ion-input [(ngModel)]="visit.com9" type="text" autocomplete="true" spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="torchValue" floating>Is the torch available and working? *</ion-label>
                      <ion-label *ngIf="!torchValue" floating style="color:red">Is the torch available and working? *
                      </ion-label>
                      <ion-select interface="popover"[(ngModel)]="visit.torch">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Comments</ion-label>
                      <ion-input [(ngModel)]="visit.com10" type="text" autocomplete="true" spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="elecValue" floating>Is the Electric Fence & Energizer in working order? *
                      </ion-label>
                      <ion-label *ngIf="!elecValue" floating style="color:red">Is the Electric Fence & Energizer in
                        working order? *</ion-label>
                      <ion-select interface="popover"[(ngModel)]="visit.elec">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Comments</ion-label>
                      <ion-input [(ngModel)]="visit.com11" type="text" autocomplete="true" spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="camValue" floating>Are all cameras in working order? *</ion-label>
                      <ion-label *ngIf="!camValue" floating style="color:red">Are all cameras in working order? *
                      </ion-label>
                      <ion-select interface="popover"[(ngModel)]="visit.cameras">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Comments</ion-label>
                      <ion-input [(ngModel)]="visit.com12" type="text" autocomplete="true" spellcheck="true">
                      </ion-input>
                    </ion-item>
                  </ion-slide>

                  <ion-slide>
                    <p text-center>CLIENT MEETING</p>

                    <ion-item>
                      <ion-label *ngIf="clientValue" floating>Client Name *</ion-label>
                      <ion-label *ngIf="!clientValue" floating style="color:red">Client Name *</ion-label>
                      <ion-input [(ngModel)]="visit.client" type="text"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Client Discussion</ion-label>
                      <ion-input [(ngModel)]="visit.discussion" type="text" autocomplete="true" spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="issuesValue" floating>Does the client have any Issues with the Service? *
                      </ion-label>
                      <ion-label *ngIf="!issuesValue" floating style="color:red">Does the client have any Issues with
                        the Service? *</ion-label>
                      <ion-select interface="popover"(click)="status(visit)" (ionChange)="status(visit)" [(ngModel)]="visit.issues">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Available</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item *ngIf="emailOption">
                      <ion-label *ngIf="emailValue" floating>Email to Client? *</ion-label>
                      <ion-label *ngIf="!emailValue" floating style="color:red">Email to Client? *</ion-label>
                      <ion-select interface="popover"(click)="status(visit)" [(ngModel)]="visit.email">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <img [src]="visit.manSig" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("manSig")'>Add Manager Signature
                      </ion-button>
                    </ion-item>

                    <ion-row>
                      <ion-item>
                        <ion-label *ngIf="sigValue" text-center>Manager Signature *</ion-label>
                        <ion-label *ngIf="!sigValue" text-center style="color:red">Manager Signature *</ion-label>
                      </ion-item>
                    </ion-row>

                    <img [src]="visit.clientSig" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("clientSig")'>Add Client Signature
                      </ion-button>
                    </ion-item>

                    <ion-row>
                      <ion-item>
                        <ion-label text-center>Client Signature</ion-label>
                      </ion-item>
                    </ion-row>
                 </ion-slide>

                </ion-slides>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer class="footer">
  <ion-row>
    <ion-col text-center>
      <i class="icofont-save save" (click)="save(visit)"></i><br>
      Save
    </ion-col>
    <ion-col text-center>
      <i class="icofont-paper send" (click)="send(visit)"></i><br>
      Send
    </ion-col>
    <ion-col text-center>
      <i class="icofont-ui-delete delete" (click)="delete()"></i><br>
      Delete
    </ion-col>
  </ion-row>
</ion-footer>