<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Appeal Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-item>
                  <ion-label position="floating">Date</ion-label>
                  <ion-input [(ngModel)]="appeal.date" [readonly]="true"></ion-input>
                </ion-item>



                <ion-item>
                  <ion-label position="floating" *ngIf='employeeName'>Employee Name</ion-label>
                  <ion-label position="floating" *ngIf="!employeeName" style="color:red !important">Employee Name
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.employeeName"></ion-input>
                </ion-item>


                <ion-item>
                  <ion-label position="floating" *ngIf="employeeNumber">Employee Number</ion-label>
                  <ion-label position="floating" *ngIf="!employeeNumber" style="color:red !important">Employee Number
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.employeeNumber"></ion-input>

                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="employeePosition">Employee Position</ion-label>
                  <ion-label position="floating" *ngIf="!employeePosition" style="color:red !important">Employee
                    Position</ion-label>
                  <ion-input [(ngModel)]="appeal.employeePosition"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="grounds">Grounds For Appeal</ion-label>
                  <ion-label position="floating" *ngIf="!grounds" style="color:red !important">Grounds For Appeal
                  </ion-label>
                  <ion-select interface="popover"[(ngModel)]="appeal.grounds" multiple="true">
                    <ion-select-option>The verdict of guilty was unfair</ion-select-option>
                    <ion-select-option>The transgression does not justify the sanction</ion-select-option>
                    <ion-select-option>New evidence or witnesses are available which may materially influence the
                      decision of the hearing or enquiry</ion-select-option>
                    <ion-select-option>The disciplinary procedures were not adhered to
                    </ion-select-option>

                  </ion-select>
                </ion-item>
                <h2>DETAILS OF APPEAL :</h2>
                <ion-item>
                  <ion-label position="floating" *ngIf="hearingDate">Date of disciplinary hearing:</ion-label>
                  <ion-label position="floating" *ngIf="!hearingDate" style="color:red !important">Date of disciplinary
                    hearing: </ion-label>
                  <ion-datetime [(ngModel)]="appeal.hearingDate" displayFormat="YYYY/MM/DD">
                  </ion-datetime>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="actionTaken"> Nature of disciplinary action taken:</ion-label>
                  <ion-label position="floating" *ngIf="!actionTaken" style="color:red !important"> Nature of
                    disciplinary action taken: </ion-label>
                  <ion-input  [(ngModel)]="appeal.actionTaken" type="text"></ion-input>
                </ion-item>

                <div id="text-area">
                  <ion-item>
                    <ion-label position="floating" *ngIf="reasons">Give your reasons for lodging the appeal:</ion-label>
                    <ion-label position="floating" *ngIf="!reasons" style="color:red !important">Give your reasons for
                      lodging the appeal:
                    </ion-label>
                    <ion-textarea  type="text" autocomplete="true" spellcheck="true"
                      [(ngModel)]="appeal.reasons" autosize>
                    </ion-textarea>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating" *ngIf="relieve">Relieve sought:</ion-label>
                    <ion-label position="floating" *ngIf="!relieve" style="color:red !important">Relieve sought:
                    </ion-label>
                    <ion-textarea  type="text" autocomplete="true" spellcheck="true"
                      [(ngModel)]="appeal.relieve" autosize>
                    </ion-textarea>
                  </ion-item>



                </div>

                <img [src]="appeal.witSig" alt="" style="  display: block; margin-left: auto; margin-right: auto;">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("witSig")'>Add Employee Signature
                  </ion-button>
                </ion-item>


                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf="witSig" class="ion-text-center">Employee Signature *</ion-label>
                      <ion-label *ngIf="!witSig" class="ion-text-center" style="color:red !important">Employee  Signature *
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>


                <img style="  display: block; margin-left: auto; margin-right: auto;" [src]="appeal.sigUser" alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("sigUser")'>Add Manager Signature
                  </ion-button>
                </ion-item>


                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf="sigUser" class="ion-text-center">Manager/ Supervisor Signature *</ion-label>
                      <ion-label *ngIf="!sigUser" class="ion-text-center" style="color:red !important">Manager/
                        Supervisor Signature *
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
            

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check()">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>