<ion-split-pane contentId="content">

  <ion-menu contentId="content" type="overlay" class="custom">

    <!-- <ion-header>
      <ion-toolbar >
        <img src="assets/imgs/logo.svg" alt="">
        <ion-title style="min-width: 280px; font-size: 1em;" class="ion-text-left">SECURITY CONTROL</ion-title>
      </ion-toolbar>
    </ion-header> -->

    <ion-content>
      <ion-list id="inbox-list">
        <div class="logo-holder ion-text-center">
          <img src="assets/imgs/logo.svg" alt="">
        </div>

        <ion-menu-toggle auto-hide="false">
          <div *ngIf="permission && !technician && access">
            <div *ngIf="!app">

              <ion-item *ngFor="let p of pages1" [routerLink]="p.url" routerDirection="root"
                [class.active-item]="selectedPath === p.url">
                <ion-icon [src]="p.icon" slot="start"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
                <div *ngIf="p.title === 'SALES CHAT' && salesCount !== 0"
                  style="color: red; border-radius: 40%; border: 1px solid red;">{{salesCount}}</div>
                <div *ngIf="p.title === 'CHAT' && supportCount !== 0"
                  style="color: red; border-radius: 40%; border: 1px solid red;">{{supportCount}}</div>
              </ion-item>
            </div>
            <div *ngIf="app">
              <ion-item *ngFor="let p of pages2" [routerLink]="p.url" routerDirection="root"
                [class.active-item]="selectedPath === p.url">
                <ion-icon [src]="p.icon" slot="start"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div>
          </div>
          <div *ngIf="!permission && !technician && access">
            <div *ngIf="!app">
              <ion-item *ngFor="let p of pages3" [routerLink]="p.url" routerDirection="root"
                [class.active-item]="selectedPath === p.url">
                <ion-icon [src]="p.icon" slot="start"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div>
            <div *ngIf="app">
              <ion-item *ngFor="let p of pages4" [routerLink]="p.url" routerDirection="root"
                [class.active-item]="selectedPath === p.url">
                <ion-icon [src]="p.icon" slot="start"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div>
          </div>
          <div *ngIf="thompsons || technician">
            <ion-item routerLink="/work-orders" routerDirection="root"
              class.active-item="selectedPath === '/work-orders'">
              <ion-icon name="clipboard" slot="start"></ion-icon>
              <ion-label color="primary">TECHNICAL JOB CARDS</ion-label>
            </ion-item>
          </div>
          <div *ngIf="!access">
            <ion-item *ngFor="let p of NoAccess" [routerLink]="p.url" routerDirection="root"
              [class.active-item]="selectedPath === p.url">
              <ion-icon [src]="p.icon" slot="start"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </div>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer style="  --background: #100F10;  ">
      <ion-menu-toggle auto-hide="false">
        <ion-item class="ion-text-center" *ngIf="!account">
          <ion-button color="success" (click)="upgrade()" expand="block" fill="clear" style="margin: auto;">
            <ion-icon name="trophy" slot="start"></ion-icon>UPGRADE TO PREMIUM
          </ion-button>
        </ion-item>
        <ion-item style="  --background: #100F10;  " routerLink="/my-account" icon-left routerDirection="root"
          [class.active-item]="selectedPath === '/my-account'">
          <!-- <ion-avatar style="margin-right: 20px;">
            <img *ngIf=user.photo [src]="user.photo">
            <img *ngIf=!user.photo src="assets/imgs/user.jpg">
          </ion-avatar> -->
          <ion-label style="text-align: center;" style='color:grey; text-align: center;'
            color="color: #757575 !important;">MY ACCOUNT</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>