<!-- <ion-header class="ion-no-border desktop">
    <ion-toolbar class="ion-padding-horizontal">
     <ion-buttons slot="start">
       <ion-button class="support-btn">
        Support
       </ion-button>
     </ion-buttons>
     <ion-item lines="none" slot="end" (click)="goMyaccount()">
      <ion-avatar slot="end">
       <img src="assets/imgs/user.jpeg" alt="">
      </ion-avatar>
     <ion-label>
      <select name="cars" id="cars">
        <option value="volvo">Lamu Dlamini</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <p>{{user.type}}</p>
     </ion-label>
    </ion-item>
    </ion-toolbar>
  </ion-header> -->

<ion-content class="welcome">
  <div class="top-holder desktop flex al-center jc-between">
    <div class="left">
      <h1>Hi {{ user.name }}</h1>
      <h5>Welcome to <span>&nbsp;Security Control</span> </h5>
    </div>

    <div class="right path-holder">
      <h4>Home/<span>&nbsp;Welcome</span> </h4>
    </div>
  </div>

  <ion-grid class="main-grid" fixed>
    <ion-row>
      <ion-col size="12">
        <div class="holder left">
          <div class="the-header">
            <h2>Account Details</h2>
          </div>

          <div class="the-content">
            <div class="logo-holder ion-text-center">
              <img *ngIf=logo [src]=logo style="max-width: 350px; max-height: 200px">
            </div>

            <div class="form">

              <div class="input-item flex al-center jc-between">
                <ion-label>Company Representative</ion-label>
                <ion-item lines="none">
                  <ion-input type="text" readonly>{{user.name}}</ion-input>
                </ion-item>
              </div>

              <div class="input-item flex al-center jc-between">
                <ion-label>Email</ion-label>
                <ion-item lines="none">
                  <ion-input type="email" readonly>{{user.email}}</ion-input>
                </ion-item>
              </div>

              <div class="input-item flex al-center jc-between">
                <ion-label>Contact</ion-label>
                <ion-item lines="none">
                  <ion-input type="text" readonly>{{user.contact}}</ion-input>
                </ion-item>
              </div>

              <div class="input-item flex al-center jc-between">
                <ion-label>Account Type</ion-label>
                <ion-item lines="none">
                  <ion-input type="text" readonly>{{user.type}}</ion-input>
                </ion-item>
              </div>


              <div class="btn-holder ion-padding-top">
                <ion-button expand="block" (click)='editUser()'>
                  Update Info
                </ion-button>
              </div>


            </div>
          </div>
        </div>
      </ion-col>

      <!-- commented out because its pulling outdated data -->
      <!-- <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="7" sizeXl="6" class="flex">
            <div class="holder right">
              <div class="the-header">
                <h2>News & Update</h2>
              </div>
  
              <div class="the-content">
                <div class="news">
                 <ion-grid fixed>
                   <ion-row class="headers">
                     <ion-col sizeXs="4" sizeSm="4" sizeMd="1" sizeLg="1" sizeXl="1">
                       <h4>Date</h4>
                     </ion-col>
                     <ion-col sizeXs="8" sizeSm="8" sizeMd="10" sizeLg="10" sizeXl="10">
                        <h4>Details</h4>
                     </ion-col>
                   </ion-row>

                   <ion-row *ngFor="let item of news | async" class="values">
                    <ion-col sizeXs="4" sizeSm="4" sizeMd="1" sizeLg="1" sizeXl="1" class="dates">
                      <h5>{{item.date}}</h5>
                    </ion-col>
                    <ion-col sizeXs="8" sizeSm="8" sizeMd="10" sizeLg="10" sizeXl="10">
                    <h5 class="ion-text-wrap">{{item.details}}</h5>
                    </ion-col>
                  </ion-row>
                
                 </ion-grid>
                </div>
              </div>
            </div>
          </ion-col> -->
    </ion-row>
  </ion-grid>

  <div class="footer desktop">
    <p class="ion-text-wrap"> All Rights Reserved | Copyright <span>@securitycontrol.co.za</span> </p>
  </div>
</ion-content>