<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-font">FORMS</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/support" routeDirection="forward" fill="clear">
        <ion-icon name="help-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="float-material">
              <div class="auth-box">

                <ion-grid>
                  <ion-row>
                    <ion-col *ngIf="companyId === '0qbfVjnyuKE8EAdenn3T' || companyId === 'gC9ZUArZzn1rlIBRZHLv' || companyId ===  '62370402-ecae-a16e-6f5a-5fe7c4d5532d' "
                      class="ion-text-center">
                      <ion-button fill="clear" routerLink="/site-visit/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="home" class="homeLogo"></ion-icon>
                          <br>SITE VISIT
                          <br>REPORT
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col *ngIf=" companyId !== 'gC9ZUArZzn1rlIBRZHLv' && companyId !== '0qbfVjnyuKE8EAdenn3T' && companyId !== '62370402-ecae-a16e-6f5a-5fe7c4d5532d' " class="ion-text-center">
                      <ion-button fill="clear" routerLink="/site-visit-gen/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="home" class="homeLogo"></ion-icon>
                          <br>SITE
                          <br>VISIT REPORT
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/training-form/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="barcode" class="homeLogo"></ion-icon>
                          <br>TRAINING
                          <br>FORM
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <div *ngIf="companyId === 'gC9ZUArZzn1rlIBRZHLv'">
                    <!-- <div *ngIf=" userKey == '49833428-7e58-9bee-938e-ac9c021bc7fd' || userKey == '047ce689-1293-d47e-aefb-c68710c9f2d4' "> -->


                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/appeal/new" routerDirection="forward" class="home-button">
                          <div>
                            <ion-icon name="cube" class="homeLogo"></ion-icon>
                                                        <br>APPEAL
                            <br>FORM
                          </div>
                        </ion-button>
                      </ion-col>

                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/site-temperature/new" routerDirection="forward"
                          class="home-button">
                          <div>
                            <ion-icon name="thermometer"  class="homeLogo"></ion-icon>
                            <br>SITE
                            <br>TEMPERATRURE
                          </div>
                        </ion-button>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/performance-appraisal/new" routerDirection="forward"
                          class="home-button">
                          <div>
                            <ion-icon name="bar-chart" class="homeLogo"></ion-icon>
                            <!-- <ion-icon name="person-circle"  class="homeLogo"></ion-icon> -->
                            <br>PERFORMANCE
                            <br>APPRAISAL
                          </div>
                        </ion-button>
                      </ion-col>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/fence-inspection/new" routerDirection="forward"
                          class="home-button">
                          <div>
                            <ion-icon name="apps" class="homeLogo"></ion-icon>
                            <!-- <ion-icon name="car" class="homeLogo"></ion-icon> -->
                            <br>FENCE
                            <br>INSPECTION
                          </div>
                        </ion-button>
                      </ion-col>
                    </ion-row>


                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/grievance/new" routerDirection="forward" class="home-button">
                          <div>
                            <ion-icon name="sad" class="homeLogo"></ion-icon>
                            <br>GRIEVANCE
                            <br>FORM
                          </div>
                        </ion-button>
                      </ion-col>

                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/polygraph/new" routerDirection="forward" class="home-button">
                          <div>
                            <ion-icon name="help" class="homeLogo"></ion-icon>
                            <br>POLYGRAPH
                          </div>
                        </ion-button>
                      </ion-col>
                    </ion-row>



                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/pay-query/new" routerDirection="forward" class="home-button">
                          <div>
                            <ion-icon name="wallet" class="homeLogo"></ion-icon>
                            <br>PAY
                            <br>QUERY
                          </div>
                        </ion-button>
                      </ion-col>

                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/resignation/new" routerDirection="forward"
                          class="home-button">
                          <div>
                            <ion-icon name="power" class="homeLogo"></ion-icon>
                            <br>RESIGNATION
                          </div>
                        </ion-button>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/injury/new" routerDirection="forward" class="home-button">
                          <div>
                            <ion-icon name="medkit" class="homeLogo"></ion-icon>
                            <br>INJURY

                          </div>
                        </ion-button>
                      </ion-col>

                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/fire/new" routerDirection="forward" class="home-button">
                          <div>
                            <ion-icon name="flame" class="homeLogo"></ion-icon>
                            <br>Fire
                          </div>
                        </ion-button>
                      </ion-col>
                    </ion-row>


                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/gas-explosion/new" routerDirection="forward"
                          class="home-button">
                          <div>
                            <ion-icon name="flower" class="homeLogo"></ion-icon>

                            <!-- <ion-icon name="shirt" class="homeLogo"></ion-icon> -->
                           <br> GAS <br> EXPLOSION

                          </div>
                        </ion-button>
                      </ion-col>

                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/extinguisher-checklist/new" routerDirection="forward"
                          class="home-button">
                          <div>
                            <ion-icon name="clipboard" class="homeLogo"></ion-icon>
                           <br> CHECKLIST <br>EXTINGUISHER
                          </div>
                        </ion-button>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" routerLink="/theft/new" routerDirection="forward" class="home-button">
                          <div>
                            <ion-icon name="people" class="homeLogo"></ion-icon>
                           <br> THEFT <br> REPORT
                          </div>
                        </ion-button>
                      </ion-col>

                    </ion-row>


                  </div>


                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/uniform-order/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="shirt" class="homeLogo"></ion-icon>
                          <br>UNIFORM
                          <br>ORDER
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/vehicle-inspection/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="car" class="homeLogo"></ion-icon>
                          <br>VEHICLE
                          <br>INSPECTION
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/crime-incident-report/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="eye" class="homeLogo"></ion-icon>
                          <br>CRIME INCIDENT
                          <br>REPORT
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/incident-notification/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="warning" class="homeLogo"></ion-icon>
                          <br>INCIDENT
                          <br>NOTIFICATION
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/risk-assessment/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="nuclear" class="homeLogo"></ion-icon>
                          <br>RISK
                          <br>ASSESSMENT
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/general-incident-report/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="alert" class="homeLogo"></ion-icon>
                          <br>GENERAL INCIDENT
                          <br>REPORT
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/leave-application/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <!-- <ion-icon name="hand" class="homeLogo"></ion-icon> -->
                          <ion-icon name='exit' class="homeLogo"></ion-icon>

                          <br>LEAVE
                          <br>APPLICATION
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/disciplinary-report/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="thumbs-down" class="homeLogo"></ion-icon>
                          <br>DISCIPLINARY
                          <br>REPORT
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/meeting-report/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="cafe" class="homeLogo"></ion-icon>
                          <br>MEETING
                          <br>REPORT
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/client-instruction/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="create" class="homeLogo"></ion-icon>
                          <br>CLIENT
                          <br>INSTRUCTION
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/equipment-inventory/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="build" class="homeLogo"></ion-icon>
                          <br>EQUIPMENT
                          <br>INVENTORY
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/incident-report/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="warning" class="homeLogo"></ion-icon>
                          <br>INCIDENT
                          <br>REPORT
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row *ngIf="companyId === 'c3141b21-338e-fe16-6dec-76480c8f4e30'">
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/emp-performance-form/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="thumbs-up" class="homeLogo"></ion-icon>
                          <br>EMPLOYEE PERFORMANCE<br>EVALUATION FORM
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/ncr/new" routerDirection="forward" class="home-button">
                        <div>
                          <ion-icon name="card" class="homeLogo"></ion-icon>
                          <br>NON-CONFORMANCE<br>FORM
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-button fill="clear" routerLink="/ob-entry/new" routerDirection="forward" class="home-button">
                        <div>
                          <ion-icon name="clipboard" class="homeLogo"></ion-icon>
                          <br>OB
                          <br>ENTRY
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col *ngIf="companyId === '0qbfVjnyuKE8EAdenn3T'" class="ion-text-center">
                      <ion-button fill="clear" routerLink="/pnp-visit/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="home" class="homeLogo"></ion-icon>
                          <br>PNP SITE
                          <br>VISIST
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col *ngIf="companyId === '0qbfVjnyuKE8EAdenn3T'" class="ion-text-center">
                      <ion-button fill="clear" routerLink="/tenant-visit/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="home" class="homeLogo"></ion-icon>
                          <br>TENANT
                          <br>VISIT
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col *ngIf="companyId === '0qbfVjnyuKE8EAdenn3T'" class="ion-text-center">
                      <ion-button fill="clear" routerLink="/transparency-report/new" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="home" class="homeLogo"></ion-icon>
                          <br>TRANSPARENCY
                          <br>REPORT
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col *ngIf="companyId === '0qbfVjnyuKE8EAdenn3T'" class="ion-text-center">
                      <ion-button fill="clear" routerLink="/work-order-form" routerDirection="forward"
                        class="home-button">
                        <div>
                          <ion-icon name="clipboard" class="homeLogo"></ion-icon>
                          <br>WORK ORDER
                        </div>
                      </ion-button>
                    </ion-col>
                    <ion-col *ngIf="companyId === '0qbfVjnyuKE8EAdenn3T'" class="ion-text-center">
                      <ion-button fill="clear" routerLink="/aod/new" routerDirection="forward" class="home-button">
                        <div>
                          <ion-icon name="card" class="homeLogo"></ion-icon>
                          <br>ACKNOWLEDGEMENT
                          <br>OF DEBT
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col *ngIf="companyId === '0qbfVjnyuKE8EAdenn3T'" class="ion-text-center">
                      <ion-button color="danger" (click)="download()">
                        <div>DOWNLOAD DISCIPLINARY CODE OF OFFENCES
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                </ion-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
