<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-font">SUPPORT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <div class="ion-padding">

                  <h3 class="ion-text-center">CONTACT US</h3>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="3">EMAIL</ion-col>
                      <ion-col><a href="mailto:support@securitycontrol.co.za" target="_top">support@securitycontrol.co.za</a></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="3">PHONE</ion-col>
                      <ion-col><a href="tel:+27873781083" target="_top">081 378 1083</a></ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-button color="warning" style="min-width: 300px" routerLink="/chat"
                        routeDirection="forward">
                        <ion-icon name="help-circle-outline" slot="start"></ion-icon>LIVE CHAT WITH SUPPORT
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</ion-content>