<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>POLYGRAPH</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-item>
                  <ion-label position="floating">Date</ion-label>
                  <ion-input [(ngModel)]='appeal.date' [readonly]="true"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label *ngIf='employeeName' position="floating">Employee Name</ion-label>
                  <ion-label *ngIf='!employeeName' style="color:red !important" position="floating">Employee Name</ion-label>
                  <ion-input [(ngModel)]='appeal.employeeName'></ion-input>
                </ion-item>
<h1>You    are    hereby    informed    that    a    polygraph    test    is    going    to    be    conducted    on   </h1>
                <ion-item>
                  <ion-label *ngIf='polydate' position="floating">(date to be conducted)</ion-label>
                  <ion-label *ngIf='!polydate' style="color:red !important" position="floating">(date to be conducted)</ion-label>
                  <ion-datetime [(ngModel)]='appeal.polydate' displayFormat="YYYY-MM-DD">
                  </ion-datetime>                </ion-item>

                <ion-item>
                  <ion-label *ngIf='polytime' position="floating">at time</ion-label>
                  <ion-label *ngIf='!polytime' style="color:red !important" position="floating">at time
                  </ion-label>
                  <ion-datetime [(ngModel)]='appeal.polytime' displayFormat="HH:mm">
                  </ion-datetime>
                </ion-item>

           
<h1>You  are  required  to  attend  and  have  a polygraph test conducted on yourself at EBS Security Admin Head Office, 1040 Clifton Court, Clifton Avenue, Lyttelton.Please report at least 30 minutes prior to the time scheduled for the test to be conducted</h1>
             

<img [src]="appeal.empsign" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

<ion-item lines="none">
  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("empsign")'>Add Employee Signature
  </ion-button>
</ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label  *ngIf='empsign'  class="ion-text-center">Employee Signature</ion-label>
                      <ion-label  *ngIf='!empsign'  class="ion-text-center" style="color:red !important">Employee
                         Signature
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>


                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label  *ngIf='place'  class="ion-text-center">Signed at</ion-label>
                      <ion-label  *ngIf='!place'  class="ion-text-center" style="color:red !important">
                        Signed at
                      </ion-label>
                      <ion-input [(ngModel)]='appeal.place'></ion-input>

                    </ion-item>
                  </ion-col>
                </ion-row>

              

              
                <h3>Supervisor</h3>

                <img [src]="appeal.supsign" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("supsign")'>Add Manager / Supervisor Signature
                  </ion-button>
                </ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label  *ngIf='supername'  class="ion-text-center">Manager/ Supervisor Name</ion-label>
                      <ion-label  *ngIf='!supername'  class="ion-text-center" style="color:red !important">Manager/
                        Supervisor Name
                      </ion-label>
                      <ion-input [(ngModel)]='appeal.supername'></ion-input>

                    </ion-item>
                  </ion-col>
                </ion-row>

            

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label  *ngIf='witnessname'  class="ion-text-center">Witness Name</ion-label>
                      <ion-label  *ngIf='!witnessname'  class="ion-text-center" style="color:red !important">Witness Name
                      </ion-label>
                      <ion-input [(ngModel)]='appeal.witnessname'></ion-input>

                    </ion-item>
                  </ion-col>
                </ion-row>

                <h3>Witness</h3>

                <img [src]="appeal.witsign" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("witsign")'>Add Witness Signature
                  </ion-button>
                </ion-item>


                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label  *ngIf='witsign'  class="ion-text-center">Witness Signature</ion-label>
                      <ion-label  *ngIf='!witsign'  class="ion-text-center" style="color:red !important">Witness Signature
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check()">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>