<ion-header class="ion-no-border mobile">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login" icon="chevron-back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding-horizontal">
    <ion-grid style="height: 100%">
      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
        <ion-col sizeXs="12" sizeSm="8" sizeMd="6" sizeLg="4" sizeXl="4" class="ion-no-padding">
          <div class="holder">
            <div class="logo-holder ion-text-center">
              <img src="assets/imgs/logo.svg" alt="">
            </div>
  
            <div class="the-form">
              <div class="title">
                <h3>Forgot Password?</h3>
                <p class="ion-text-wrap">
                  Please provide your Email Address, we'll provide you a link
                  for resetting your password.
                </p>
              </div>
  
  
              <div class="input-item">
                <ion-label>Email</ion-label>
                <ion-item lines="none">
                  <ion-input [(ngModel)]='email' type="email" placeholder="Johndoe@gmail.com"></ion-input>
                </ion-item>
              </div>
  
  
  
              <div class="btn-holder ion-padding-top">
                <ion-button (click)='requestReset()' expand="block">
                 Submit
                </ion-button>
  
                <ion-button expand="block" id="cancel" (click)="goBack()">
                 Cancel
                 </ion-button>
              </div>
  
            </div>
          </div>
  
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div class="footer desktop">
      <p class="ion-text-wrap"> All Rights Reserved | Copyright <span>@securitycontrol.co.za</span> </p>
    </div>
  </ion-content>