<ion-content>
  <ion-card style="height: 100vh;">
    <ion-card-header>
      <div style="width: 100%; text-align: center;">
        <h5>Add a Card</h5>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-row style="width: 100%;">
        <ion-col size="12" style="text-align: center;">
          <ion-label style="color: darkgrey;">Purchase Amount: R{{ purchaseAmount }}</ion-label>  
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <ion-note>This amount is to verify the card, and will be deducted from your first subscription payment as a refund.</ion-note>
        </ion-col>
      </ion-row>
      <ion-row style="width: 100%;">
        <ion-col size="6" style="text-align: center;">
          <ion-button style="width: 80%; margin-left: 10%;" color="success" (click)="onPay()"
            [disabled]="loading">
            <ion-label *ngIf="!loading">Pay</ion-label>
            <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>
          </ion-button>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
          <ion-button style="width: 80%; margin-left: 10%;" color="danger" (click)="onCancel();"
            [disabled]="loading">
            <ion-label>Cancel</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <iframe *ngIf="isOpen" [src]="authUrl" frameborder="0" style="height: 100vh; width: 100%;"></iframe>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
