<ion-header class="ion-no-border">
  <ion-toolbar class="mtool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sites" text="Add Sites"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-holder desktop flex al-center jc-between">
    <div class="left">
      <h1 *ngIf="!new">Edit Site</h1>
      <h1 *ngIf="new">Add New Site</h1>
    </div>
    <div class="right path-holder">
      <h4>Home/Sites/My Sites/<span>&nbsp;Site</span> </h4>
    </div>
  </div>
  
  <ion-grid class="main-grid" fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col sizeXs="12" sizeSm="12" sizeMd="10" sizeLg="8" sizeXl="10">
        <div class="holder left">
          <div class="the-header">
            <h2> Site</h2>
          </div>
          <div class="the-content">
            <div class="the-form">
              <ion-row>
                <ion-col size="12">
                  <div class="input-item">
                    <ion-label *ngIf="nameValue">Site Name*</ion-label>
                    <ion-label *ngIf="!nameValue" style="color: red !important">Site Name*</ion-label>
                    <ion-item lines="none">
                      <ion-input type="text" [(ngModel)]="site.name"
                        (ngModelChange)="site.name = $event.toLocaleUpperCase()"></ion-input>
                    </ion-item>
                  </div>
                </ion-col>

                <ion-col sizeXs="12" sizeSm="5.75" sizeMd="5.75" sizeLg="5.75" sizeXl="5.75">
                  <div class="input-item">
                    <ion-label *ngIf="clientValue">Client Name*</ion-label>
                    <ion-label *ngIf="!clientValue" style="color: red !important">Client Name*</ion-label>
                    <ion-item lines="none">
                      <ion-input type="text" [(ngModel)]="site.client"></ion-input>
                    </ion-item>
                  </div>
                </ion-col>

                <ion-col sizeXs="12" sizeSm="5.75" sizeMd="5.75" sizeLg="5.75" sizeXl="5.75" offsetXs="0" offsetSm="0.5"
                  offsetMd="0.5" offsetLg="0.5" offsetXl="0.5">
                  <div class="input-item">
                    <ion-label *ngIf="clientValue">Client Email Address*</ion-label>
                    <ion-label *ngIf="!clientValue" style="color: red !important">Client Email Address*</ion-label>
                    <ion-item lines="none">
                      <ion-input type="email" [(ngModel)]="site.email"></ion-input>
                    </ion-item>
                  </div>
                </ion-col>

                <ion-col sizeXs="12" sizeSm="5.75" sizeMd="5.75" sizeLg="5.75" sizeXl="5.75">
                  <div class="input-item">
                    <ion-label *ngIf="addressValue">Site Address*</ion-label>
                    <ion-label *ngIf="!addressValue" style="color: red !important">Site Address*</ion-label>
                    <ion-item lines="none">
                      <input class="form-control" ngx-google-places-autocomplete #placesRef="ngx-places"
                        (onAddressChange)="handleAddressChange($event)" [value]="site.address">
                    </ion-item>
                  </div>
                </ion-col>

                <ion-col sizeXs="12" sizeSm="5.75" sizeMd="5.75" sizeLg="5.75" sizeXl="5.75" offsetXs="0" offsetSm="0.5"
                  offsetMd="0.5" offsetLg="0.5" offsetXl="0.5">
                  <div class="input-item">
                    <ion-label *ngIf="contactValue">Site Contact Number*</ion-label>
                    <ion-label *ngIf="!contactValue" style="color: red !important">Site Contact Number*</ion-label>
                    <ion-item lines="none">
                      <ion-input [(ngModel)]="site.contact"></ion-input>
                    </ion-item>
                  </div>
                </ion-col>

                <ion-col size="12">
                  <div class="input-item">
                    <ion-label *ngIf="emailValue">Site Email Address*</ion-label>
                    <ion-label *ngIf="!emailValue" style="color: red !important">Site Email Address*</ion-label>
                    <ion-item lines="none">
                      <ion-input [(ngModel)]="site.recipient"></ion-input>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-row>
              <div class="btn-holder ion-padding-top">
                <ion-row>
                  <ion-col sizeXs="12" sizeSm="5.75" sizeMd="5.75" sizeLg="5.75" sizeXl="5.75" offsetXs="0"
                    offsetSm="0.5" offsetMd="0.5" offsetLg="0.5" offsetXl="0.5">
                    <ion-button expand="block" (click)="check()">
                      Save
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>