.mbar
{
    --background: #100F10;


    ion-buttons
    {

        ion-menu-button
        {
            --color: white !important;
        }
        
        ion-button
        {
            --color: white !important;
        }
    }


    ion-title
    {
        color: white !important;
    }
}
.mtool
{
    --background: #1B1C1D;

    ion-buttons
    {
        ion-menu-button
        {
            --color: white;
        }
    }

    ion-title
    {
        color: white !important;
    }
}
ion-content
{
    .top-holder
    {
        padding: 16px 25px; 
        .left
        {
            h1
            {
                color: #5A5A5A;
                font-family: 'SBold';
                font-size: 27px;
                margin: 0;
            }
        }

        .right
        {
            h4
            {
                color: #b5b5b566;
                font-family: 'Regular';
                font-size: 14px;
                margin: 0;

                span
                {
                    color: #b5b5b5;
                }
            }
        }
    }
        .holder
        {
            img
            {
                height: 100px;
            }

            h1
            {
                color: #000000;
                font-family: 'SBold';
                font-size: 28px;
            }
        }
}