<ion-header class="ion-no-border mobile">
  <ion-toolbar class="mbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Saved Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-holder desktop flex al-center jc-between">
    <div class="left">
      <h1>Saved Forms</h1>
    </div>

    <div class="right path-holder">
      <h4>Home/<span>&nbsp;Saved Forms</span> </h4>
    </div>
  </div>

  <div *ngIf="items.length == 0" class="holder ion-text-center">
    <img src="assets/imgs/sick.svg" alt="">
    <h1>No Saved Forms <br>
      Available</h1>
  </div>

  <ion-row>
    <ion-col style="padding-left: 40px; padding-right: 40px;">
      <div scrollY="true" id="myFixZone">
        <ion-button (click)="open(item)" style='--highlight-color-invalid: var(--ion-color-danger, #eb445a);
        ' class="upper" routeDirection="forward"
          expand="block" *ngFor="let item of items" style="font-size: 0.6em;">
          <ion-icon name="build" slot="start"></ion-icon>
          {{item.report}}-{{item.date}}
        </ion-button>
      </div>
    </ion-col>
  </ion-row>


  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">

    </ion-row>
  </ion-grid>

</ion-content>