.mtool
{
    --background: #1B1C1D;

    ion-buttons
    {
        ion-menu-button
        {
            --color: white;
        }
    }

    ion-title
    {
        color: white !important;
    }
}
ion-content
{
        .holder
        {
            img
            {
                height: 100px;
            }

            h1
            {
                color: #000000;
                font-family: 'SBold';
                font-size: 28px;
            }
        }
}