<ion-header class="ion-no-border mobile">
  <ion-toolbar class="mbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-holder desktop flex al-center jc-between">
    <div class="left">
      <h1>Forms</h1>
    </div>

    <div class="right path-holder">
      <h4>Home/<span>&nbsp;Forms</span> </h4>
    </div>
  </div>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="float-material">
              <div class="auth-box">

                <ion-grid>
                  <ion-row>
                    <ion-col class="ion-text-center" *ngFor="let form of forms" size="6">
                      <ion-button fill="clear" (click)="openForm(form.name, form.form)" routerDirection="forward"
                        class="home-button">
                        <div>
                          <div style="width: 100%; text-align: center;">
                            <ion-icon [name]="form.icon" class="homeLogo"></ion-icon>
                          </div>
                          <div style="white-space: initial; text-align: center;">
                            <ion-text>{{form.name}}</ion-text>
                          </div>
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>




                  <ion-row>
                    <ion-col *ngIf="companyId === '0qbfVjnyuKE8EAdenn3T'" class="ion-text-center">
                      <ion-button color="danger" (click)="download()">
                        <div>DOWNLOAD DISCIPLINARY CODE OF OFFENCES
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                </ion-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>