<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-font">FORMS</ion-title>
    <ion-buttons slot="end">
      <ion-button routeDirection="forward" fill="clear">
        <ion-icon name="help-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="float-material">
              <div class="auth-box">

                <ion-grid>
                  <ion-row>
                    <ion-col class="ion-text-center" *ngFor="let form of forms" size="6">
                      <ion-button fill="clear" (click)="openForm(form.name, form.form)" routerDirection="forward"
                        class="home-button">
                        <div>
                          <div style="width: 100%; text-align: center;">
                            <ion-icon [name]="form.icon" class="homeLogo"></ion-icon>
                          </div>
                          <div style="width: 100%; text-align: center;">
                            {{form.name}}
                          </div>
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>




                  <ion-row>
                    <ion-col *ngIf="companyId === '0qbfVjnyuKE8EAdenn3T'" class="ion-text-center">
                      <ion-button color="danger" (click)="download()">
                        <div>DOWNLOAD DISCIPLINARY CODE OF OFFENCES
                        </div>
                      </ion-button>
                    </ion-col>
                  </ion-row>

                </ion-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>