<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Temperature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">


                <ion-item>
                  <ion-label position="floating" *ngIf='area'>OPS Area</ion-label>
                  <ion-label position="floating" *ngIf="!area" style="color:red !important">OPS Area
                  </ion-label>
                  <ion-input [(ngModel)]="appeal.area"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" >Supervisor Name</ion-label>
                  <ion-input [readonly]="true" [(ngModel)]="appeal.user"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Date</ion-label>
                  <ion-input [(ngModel)]="appeal.date" [readonly]="true"></ion-input>
                </ion-item>


                <div *ngFor='let site of appeal.site'>
                  <ion-item>
                    <ion-label position="floating">Comp #</ion-label>
                    <ion-input [(ngModel)]="site.compNumber"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Site</ion-label>
                    <ion-input [(ngModel)]="site.site"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Temperature</ion-label>
                    <ion-input [(ngModel)]="site.temp"></ion-input>
                  </ion-item>

                  <hr style="  height: 2px;
                  background: orange;">

                </div>


                <ion-button (click)='add()'>
                  Add Guard
                </ion-button>






              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check()">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>