<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Extinguisher Checklist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <p>When checking the fire ext. and hose reels, check the following:
                  <br>Check fire ext. full or empty<br>Check firebox seal<br>Check fire ext. box<br>Check hose reel seal
                  <br>Check hose reel nozzle <br>
                  ALL FAULTS TO BE RECORDED</p>


                <ion-item>
                  <ion-label position="floating">Date</ion-label>
                  <ion-input [(ngModel)]="appeal.date" [readonly]="true"></ion-input>
                </ion-item>
                

                <ion-item>
                  <ion-label position="floating" >Completed By</ion-label>
              <ion-input [(ngModel)]="appeal.by"></ion-input>
                </ion-item>

              <ion-item>
                <ion-label position="floating" *ngIf='compnum'>Company Number</ion-label>
                <ion-label position="floating" *ngIf="!compnum" style="color:red !important">Company Number
                </ion-label>
                <ion-input [(ngModel)]="appeal.compnum"></ion-input>
              </ion-item>

              <hr style="  height: 1px;
              background: black;">

                <div *ngFor='let site of appeal.site'>
                  <ion-item>
                    <ion-label position="floating">Location</ion-label>
                    <ion-input [(ngModel)]="site.location"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Fire Exit Number</ion-label>
                    <ion-input [(ngModel)]="site.fireNum"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Fire Exit Comments</ion-label>
                    <ion-input [(ngModel)]="site.fireComm"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Hose Reel Number</ion-label>
                    <ion-input [(ngModel)]="site.hoseNum"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Hose Reel Comments</ion-label>
                    <ion-input [(ngModel)]="site.hoseComm"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Fire Box Number</ion-label>
                    <ion-input [(ngModel)]="site.boxNum"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Fire Box Comments</ion-label>
                    <ion-input [(ngModel)]="site.boxComm"></ion-input>
                  </ion-item>
                  <hr style="  height: 2px;
                  background: orange;">

                </div>


                <ion-button (click)='add()'>
                  Add Fault
                </ion-button>

                <img [src]="appeal.supervisorSign" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("supervisorSign")'>Add Signature
                  </ion-button>
                </ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf='supervisorSign' class="ion-text-center"> Signature</ion-label>
                      <ion-label *ngIf='!supervisorSign' class="ion-text-center" style="color:red !important">
                        Signature
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check()">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>