<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-col class="title-msg ion-text-center">WELCOME TO SECURITY CONTROL !</ion-col>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">

        <div class="login-card card-block auth-body mr-auto ml-auto">
          <div class="md-float-material">



            <!-- <ion-grid>

              <ion-row>

                <ion-col>
                  <ion-card>
                    <ion-card-content style="border-style: groove; background: black;">
                      <ion-item style="--background: black;">
                       <b> <p style="color: red; "> Selcted Package</p></b>
                        <h2 style="color: aliceblue; ">{{tier1.name}}</h2>
                        <ion-icon slot='end' name="checkmark-circle-outline" style="color: yellow; "> </ion-icon>
                      </ion-item>

                      <ul>
                        <li>Cost:R{{tier1.cost}}</li>
                        <li>Benefits:{{tier1.benefits}}</li>
                        <li>Users: {{tier1.users}}</li>
                        <li>other:{{tier1.other}}</li>
                        <li>attributes:{{tier1.att}}</li>
                      </ul>
                    </ion-card-content>
                  </ion-card>
                </ion-col>

                <ion-col>
                  <ion-card>
                    <ion-card-content style="border-style: groove; background: black;">
                      <h2 style="color: aliceblue; ">{{tier2.name}} </h2>
                      <ul>
                        <li>Cost: R{{tier2.cost}}</li>
                        <li>Benefits: {{tier2.benefits}}</li>
                        <li>Users: {{tier2.users}}</li>
                        <li>other: {{tier2.other}}</li>
                        <li>attributes: {{tier2.att}}</li>
                      </ul>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-card>
                    <ion-card-content style="border-style: groove; background: black;">
                      <h2 style="color: aliceblue; ">{{tier3.name}}</h2>
                      <ul>
                        <li>Cost:R{{tier3.cost}}</li>
                        <li>Benefits:{{tier3.benefits}}</li>
                        <li>Users: {{tier3.users}}</li>
                        <li>other:{{tier3.other}}</li>
                        <li>attributes:{{tier3.att}}</li>
                      </ul>
                    </ion-card-content>
                    <ion-card-content (click)='subscribe("tier3")'
                      style="border-style: groove; background: black; text-align: center;"> SUBSCRIBE</ion-card-content>
                  </ion-card>

                </ion-col>


                <ion-col>
                  <ion-card>
                    <ion-card-content style="border-style: groove; background: black;">
                      <h2 style="color: aliceblue; ">{{tier4.name}}</h2>
                      <ul>
                        <li>Cost:R{{tier4.cost}}</li>
                        <li>Benefits:{{tier4.benefits}}</li>
                        <li>Users: {{tier4.users}}</li>
                        <li>other:{{tier4.other}}</li>
                        <li>attributes:{{tier4.att}}</li>
                      </ul>
                    </ion-card-content>
                  </ion-card>
                </ion-col>


              </ion-row>
          
              <ion-row>
                <ion-col>
                  <ion-card>
                    <ion-card-content style="border-style: groove; background: black;">
                      <h2 style="color: aliceblue; ">{{tier3.name}}</h2>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row> 



            </ion-grid> -->


          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar">

    <ion-button style="float:right; margin-bottom: 15px;">
      <ion-icon slot="start"></ion-icon>Support
    </ion-button>
  </ion-toolbar>
</ion-footer>