
ion-content
{
    .holder
    {
        border: 1px solid rgba(112, 112, 112, 0.28);
        border-radius: 14px;
        padding: 40px;
        .logo-holder
        {
            img
            {
                height: 20vh;
            }
        }


        .title
        {
            h3
            {
                color: var(--ion-color-light);
                font-size: 14px;
                margin: 0;
            }

            p
            {
                color: var(--ion-color-light);
                font-family: 'Regular';
                font-size: 12px;
                margin: 5px 0;
            }
        }


        .btn-holder
        {
            margin-top: 20px;
        }

        .forgot-holder
        {
            margin-top: 20px;
            ion-button
            {
                font-size: 14px;
                height: 45px;
            }
        }


        .bottom-holder
        {
            p
            {
                color: rgba(255, 255, 255, 0.51);
                font-size: 12px;
                span
                {
                    color: var(--ion-color-primary);
                    font-family: 'SBold';
                }
            }
        }
    }

}
