// .fixed-content {
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   position: absolute;
//   display: block;
// }
// .scroll-content {
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   position: absolute;
//   z-index: 1;
//   display: block;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   -webkit-overflow-scrolling: touch;
//   will-change: scroll-position;
//   contain: size style layout;
// }
// .login {
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
//   background-color: #000000;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   height: 100%;
//   text-align: center;
//   width: 100%;
//   min-height: 100vh;
// }
// .common-img-bg {
//   background-size: cover;
//   background: #000000;
//   height: 100%;
// }
// .text-center {
//   text-align: center !important;
// }
// .d-flex {
//   display: -ms-flexbox !important;
//   display: flex !important;
// }
// .login-card h3 {
//   color: #666;
//   font-size: 24px;
//   font-weight: 600;
//   margin-top: 20px;
// }
// h3 {
//   color: #000000;
//   align-content: center;
// }
// .input-group {
//   margin-bottom: 1.25em;
// }
// .input-group {
//   position: relative;
//   display: -ms-flexbox;
//   display: flex;
//   width: 100%;
// }
// .text-left {
//   text-align: left !important;
// }
// .col-md-6 {
//   -webkit-box-flex: 0;
//   -ms-flex: 0 0 50%;
//   -webkit-flex: 0 0 50%;
//   flex: 0 0 50%;
//   max-width: 50%;
// }
// .col-md-6 {
//   position: relative;
//   width: 100%;
//   min-height: 1px;
//   padding-right: 15px;
//   padding-left: 15px;
// }
// .auth-form__image {
//   display: block;
//   margin: auto;
//   width: 90%;
//   max-width: 200px;
// }
// img {
//   max-width: 100%;
//   border: 0;
// }
// img {
//   vertical-align: middle;
//   border-style: none;
// }
// .login-card.auth-body {
//   width: 450px;
// }
// .login-card {
//   border-radius: 30px;
//   position: relative;
//   display: block;
//   margin: 15px 0;
// }
// .ml-auto {
//   margin-left: auto !important;
// }
// .mr-auto {
//   margin-right: auto !important;
// }
// form,
// input,
// optgroup,
// select {
//   margin: 0;
//   font: inherit;
//   color: inherit;
// }
// .auth-box {
//   background-color: #000000;
//   border-radius: 8px;
//   margin: 20px 0 0 0;
//   padding: 15px 40px 15px 40px;
//   -webkit-box-shadow: 0 2px 18px -2px #000;
//   box-shadow: 0 2px 18px -2px #000;
// }
// .m-b-20 {
//   margin-bottom: 20px;
//   align-content: center !important;
// }
// .row {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-flex-wrap: wrap;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
// }
// .row {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-right: -15px;
//   margin-left: -15px;
// }
// .container {
//   margin-right: auto;
//   margin-left: auto;
//   padding-right: 15px;
//   padding-left: 15px;
//   width: 100%;
// }
// .row {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-flex-wrap: wrap;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
// }
// .row {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-right: -15px;
//   margin-left: -15px;
// }
// .content-md {
//   color: #000;
//   background-color: #000000;
// }
// .error-400,
// .error-403,
// .error-404,
// .error-500,
// .error-503,
// .login {
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
//   background-color: #000000;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   height: 100%;
//   text-align: center;
//   width: 100%;
//   min-height: 100vh;
// }
// .login {
//   text-align: left;
// }
// .login-card.auth-body {
//   width: 450px;
// }
// .login-card {
//   border-radius: 30px;
//   position: relative;
//   display: block;
//   margin: 15px 0;
// }
// .ml-auto {
//   margin-left: auto !important;
// }
// form,
// input,
// optgroup,
// select {
//   margin: 0;
//   font: inherit;
//   color: inherit;
// }
// .content-md hr {
//   background-color: rgba(0, 0, 0, 0.08);
// }
// hr {
//   height: 1px;
//   border-width: 0;
//   -webkit-box-sizing: content-box;
//   box-sizing: content-box;
// }
// hr {
//   margin-top: 1rem;
//   margin-bottom: 1rem;
//   border: 0;
//   border-top: 1px solid rgba(0, 0, 0, 0.1);
// }
// hr {
//   box-sizing: content-box;
//   height: 0;
//   overflow: visible;
// }
// .login-card h3 {
//   color: #666;
//   font-size: 24px;
//   font-weight: 600;
//   margin-top: 20px;
// }
// .input-group {
//   margin-bottom: 1.25em;
// }
// .input-group {
//   position: relative;
//   display: -ms-flexbox;
//   display: flex;
//   width: 100%;
// }
// .input-group .form-control:not(:last-child),
// .input-group-addon:not(:last-child),
// .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn,
// .input-group-btn:not(:first-child)
//   > .btn:not(:last-child):not(.dropdown-toggle),
// .input-group-btn:not(:last-child) > .btn,
// .input-group-btn:not(:last-child) > .btn-group > .btn,
// .input-group-btn:not(:last-child) > .dropdown-toggle {
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
// }
// .input-group .form-control,
// .input-group-addon,
// .input-group-btn {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .input-group .form-control {
//   position: relative;
//   z-index: 2;
//   -ms-flex: 1 1 auto;
//   flex: 1 1 auto;
//   width: 1%;
//   margin-bottom: 0;
// }
// .form-control {
//   font-size: 14px;
//   border-radius: 2px;
//   border: 1px solid #ccc;
// }
// .form-control {
//   display: block;
//   width: 100%;
//   padding: 0.5rem 0.75rem;
//   font-size: 1rem;
//   line-height: 1.25;
//   color: #495057;
//   background-color: black;
//   background-image: none;
//   background-clip: padding-box;
//   border: 1px solid rgba(0, 0, 0, 0.15);
//   border-radius: 0.25rem;
//   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
// }
// .text-input-md {
//   margin: 13px 8px;
//   padding: 0;
//   width: calc(100% - 8px - 8px);
// }
// @media only screen and (max-width: 767px) {
//   ion-col {
//     padding: 0;
//     margin: 0;
//   }
//   ion-button {
//     max-height: 35px;
//   }
//   .login h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-top: 0;
//   }
//   .auth-box {
//     margin: 0;
//   }
// }
// @media only screen and (max-width: 992px) {
//   .auth-box {
//     box-shadow: none !important;
//     -webkit-box-shadow: none !important;
//   }
// }
// @media only screen and (max-width: 993px) {
//   .error-400,
//   .error-403,
//   .error-404,
//   .error-500,
//   .error-503,
//   .login {
//     display: block !important;
//     position: relative !important;
//   }
// }
// @media only screen and (max-width: 992px) {
//   .common-img-bg {
//     background: #000000 !important;
//   }
// }
// @media only screen and (max-width: 992px) {
//   .col-sm-12 {
//     padding-left: 0 !important;
//     padding-right: 0 !important;
//   }
// }
// @media only screen and (max-width: 767px) {
//   .login-card.auth-body,
//   .signin-card.auth-body,
//   .signup-card.auth-body {
//     width: 100%;
//   }
// }
// @media only screen and (max-width: 767px) {
//   .login .m-b-20 {
//     margin-bottom: 10px;
//   }
// }
// @media only screen and (max-width: 767px) {
//   .auth-form__image {
//     max-width: 100px;
//   }
//   .auth-box {
//     margin: 0;
//     padding: 15px 40px 15px 40px;
//   }
// }

// @media only screen and (max-width: 992px) {
//   .auth-box {
//     box-shadow: none !important;
//     -webkit-box-shadow: none !important;
//   }
// }
// @media only screen and (max-width: 992px) {
//   .col-sm-12 {
//     padding-left: 0 !important;
//     padding-right: 0 !important;
//   }
// }
// @media only screen and (max-width: 767px) {
//   .login-card.auth-body,
//   .signin-card.auth-body,
//   .signup-card.auth-body {
//     width: 100%;
//   }
// }
// @media only screen and (max-width: 993px) {
//   .error-400,
//   .error-403,
//   .error-404,
//   .error-500,
//   .error-503,
//   .login {
//     display: block !important;
//     position: relative !important;
//   }
// }
// @media only screen and (max-width: 992px) {
//   .common-img-bg {
//     background: #000000 !important;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     max-width: 1140px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }
// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
//   .col-sm-12 {
//     -webkit-box-flex: 0;
//     -ms-flex: 0 0 100%;
//     -webkit-flex: 0 0 100%;
//     flex: 0 0 100%;
//     max-width: 100%;
//   }
//   .col-sm-12 {
//     -ms-flex: 0 0 100%;
//     flex: 0 0 100%;
//     max-width: 100%;
//   }
//   .col-sm-12 {
//     position: relative;
//     width: 100%;
//     min-height: 1px;
//     padding-right: 15px;
//     padding-left: 15px;
//   }
// }
// .input-group {
//   margin-bottom: 10px;
// }


ion-content
{
    .holder
    {
        border: 1px solid rgba(112, 112, 112, 0.28);
        border-radius: 14px;
        padding: 40px;
        .logo-holder
        {
            img
            {
                height: 20vh;
            }
        }


        .title
        {
            h3
            {
                color: var(--ion-color-light);
                font-size: 14px;
                margin: 0;
            }

            p
            {
                color: var(--ion-color-light);
                font-family: 'Regular';
                font-size: 12px;
                margin: 5px 0;
            }
        }


        .btn-holder
        {
            margin-top: 20px;
        }

        .forgot-holder
        {
            margin-top: 20px;
            ion-button
            {
                font-size: 14px;
                height: 45px;
            }
        }


        .bottom-holder
        {
            p
            {
                color: rgba(255, 255, 255, 0.51);
                font-size: 12px;
                span
                {
                    color: var(--ion-color-primary);
                    font-family: 'SBold';
                }
            }
        }
    }

}
