<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ACKNOWLEDGEMENT OF DEBT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-grid *ngIf="!isApp">
                  <ion-row>
                    <ion-col class="col">
                      I the undersigned (full name)
                    </ion-col>
                    <ion-col size="8">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.name">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">
                      Identification number
                    </ion-col>
                    <ion-col size="9">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.id">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">
                      Residential address:
                    </ion-col>
                    <ion-col size="9">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.address">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <ion-col class="col">
                      Hereby acknowledge being indebted to Thompsons Security Group in the sum of, R
                    </ion-col>
                    <ion-col size="3">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.sum">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">(in words)
                    </ion-col>
                    <ion-col size="10">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.sumWords">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">Being the capital sum for
                    </ion-col>
                    <ion-col size="9">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.capital">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">I agree to repay the said sum R
                    </ion-col>
                    <ion-col size="2.25">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.repay">
                      </ion-input>
                    </ion-col>
                    <ion-col size="3.5" class="col">in monthly instalments of R
                    </ion-col>
                    <ion-col size="2.25">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.instal">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">(amount in words)
                    </ion-col>
                    <ion-col size="9">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view"
                        [(ngModel)]="aod.instalWords"></ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">Commencing from date
                    </ion-col>
                    <ion-col size="4">
                      <ion-datetime displayFormat="DD/MM/YYYY" style="border-bottom: solid #000000 2px;"
                        [readonly]="view" [(ngModel)]="aod.date"></ion-datetime>
                    </ion-col>
                    <ion-col size="5">and to this end hereby authorize and empower
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">Thompsons Security Group to deduct each month from the numeration due to me.
                      The said
                      months an instalment until the full sum has been fully repaid.
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">The debt incurred is in respect of
                    </ion-col>
                    <ion-col size="8">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.respect">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">I authorize and empower Thompsons Security Group to deduct from any amount
                      owing to
                      Thompsons Security Group by me the full balance of any sum still Payable under the said debt upon
                      termination of employment.
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">This done and signed at
                    </ion-col>
                    <ion-col size="2">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.time">
                      </ion-input>
                    </ion-col>
                    <ion-col size="1" class="col">this
                    </ion-col>
                    <ion-col size="2">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.day">
                      </ion-input>
                    </ion-col>
                    <ion-col size="1.25" class="col">day of
                    </ion-col>
                    <ion-col class="col">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.month">
                      </ion-input>
                    </ion-col>
                  </ion-row>


                    <img [src]="aod.signature" alt="">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("signature")'> Signature
                      </ion-button>
                    </ion-item>


                    <img [src]="aod.witSig" alt="">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("witSig")'>Add Manager Signature
                      </ion-button>
                    </ion-item>
</ion-grid>

                <ion-grid *ngIf="isApp" style="font-size:smaller">
                  <ion-row>
                    <ion-col class="col">
                      I the undersigned (full name)
                    </ion-col>
                    <ion-col size="5">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.name">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">
                      Identification number
                    </ion-col>
                    <ion-col size="5">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.id">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">
                      Residential address:
                    </ion-col>
                    <ion-col size="5">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.address">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <ion-col class="col">
                      Hereby acknowledge being indebted to Thompsons Security Group in the sum of, R
                    </ion-col>
                    <ion-col size="2">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.sum">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">(in words)
                    </ion-col>
                    <ion-col size="7">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.sumWords">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">Being the capital sum for
                    </ion-col>
                    <ion-col size="4">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.capital">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">I agree to repay the said sum R
                    </ion-col>
                    <ion-col>
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.repay">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="col">in monthly instalments of R
                    </ion-col>
                    <ion-col>
                      <ion-input size="4" style="border-bottom: solid #000000 2px;" [readonly]="view"
                        [(ngModel)]="aod.instal"></ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">(amount in words)
                    </ion-col>
                    <ion-col size="7">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view"
                        [(ngModel)]="aod.instalWords"></ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">Commencing from date
                    </ion-col>
                    <ion-col size="4">
                      <ion-datetime displayFormat="DD/MM/YYYY" style="border-bottom: solid #000000 2px;"
                        [readonly]="view" [(ngModel)]="aod.date"></ion-datetime>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">and to this end hereby authorize and empower Thompsons Security Group to deduct
                      each month from the numeration due to me. The said
                      months an instalment until the full sum has been fully repaid.
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">The debt incurred is in respect of
                    </ion-col>
                    <ion-col size="4">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.respect">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">I authorize and empower Thompsons Security Group to deduct from any amount
                      owing to
                      Thompsons Security Group by me the full balance of any sum still Payable under the said debt upon
                      termination of employment.
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col class="col">This done and signed at
                    </ion-col>
                    <ion-col size="3">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.time">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2" class="col">this
                    </ion-col>
                    <ion-col size="2">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.day">
                      </ion-input>
                    </ion-col>
                    <ion-col size="3" class="col">day of
                    </ion-col>
                    <ion-col class="col">
                      <ion-input style="border-bottom: solid #000000 2px;" [readonly]="view" [(ngModel)]="aod.month">
                      </ion-input>
                    </ion-col>
                  </ion-row>

                  <img [src]="aod.signature" alt="">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("signature")'> Signature
                      </ion-button>
                    </ion-item>
  <img [src]="aod.witSig">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("witSig")'>Add Witness Signature
                      </ion-button>
                    </ion-item>

                </ion-grid>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</ion-content>


<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="send(aod)">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>