ion-content {

    .main-grid
    {
        background: #100F10;
        border-radius: 23px;
        padding: 30px;
        .headers
        {
            h6
            {
                color: var(--ion-color-primary);
                font-family: 'SBold';
                font-size: 15px;
            }

            #selected
            {
                --background: var(--ion-color-primary);
                --border-style: none !important;
                --color: white !important;
            }

            ion-button
            {
                --background: transparent;
                --border-radius: 29px;
                --border-color: #9CAEC7;
                --border-style: solid;
                --border-width: 1px;
                --color: #848484;
                font-family: 'Medium';
            }
        }

        .values
        {
            h4
            {
                color: white;
                font-family: 'Medium';
                font-size: 17px;
            }

            h5
            {
                color: #848484;
                font-family: 'Medium';
                font-size: 17px;
            }

            ion-icon
            {
                font-size: 26px !important;
            }

            #close
            {
                color: var(--ion-color-primary);
            }

            #check
            {
                color: #47A26F;
            }
        }
    }

    .products {
        width: 80%;
        margin-left: 10%;
        color: rgb(0, 0, 0);
        text-align: center;
        border-radius: 5px;
        border: 1px solid #858B98;
        h3 {
            color: #FF4343;
        }
    }
    .buy-button {
        color: white;
        --background: #FF4343
    }

    .alertText {
        color: white;
        text-align: center;
        font-size: smaller;
    }

 }
