<ion-header class="ion-no-border mobile">
  <ion-toolbar class="mbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="top-holder desktop flex al-center jc-between">
    <div class="left">
      <h1>My Account</h1>
    </div>

    <div class="right path-holder">
      <h4>Home/<span>&nbsp;Welcome</span> </h4>
    </div>
  </div>

  <ion-grid class="main-grid" fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="8" sizeXl="6">
        <div class="holder desktop left">
          <div class="the-header">
            <h2>Account Details</h2>
          </div>


          <div class="the-content">
            <ion-item class="header-item" lines="none" slot="end">
              <ion-avatar slot="start">

                <div class="circle" *ngIf="app" (click)="takePhoto()">
                  <img *ngIf="user.photo" [src]="user.photo">
                  <img *ngIf="!user.photo" src="assets/imgs/user.jpg">
                  <ion-button color="warning" style="margin-left: 20px; margin-top: -53px;" fill="clear">
                    <ion-icon name="camera" slot="icon-only"></ion-icon>
                  </ion-button>
                </div>
                <div class="circle" *ngIf="!app" (click)="picture.click()">
                  <img *ngIf="user.photo" [src]="user.photo">
                  <img *ngIf="!user.photo" src="assets/imgs/user.jpg">
                  <ion-button color="warning" style="margin-left: 20px; margin-top: -53px;" fill="clear">
                    <ion-icon name="camera" slot="icon-only"></ion-icon>
                  </ion-button>
                </div>
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                  [aspectRatio]="4 / 4" [resizeToWidth]="300" format="png" (imageCropped)="imageCropped($event)">
                </image-cropper>
                <input #picture (change)="fileChangeEvent($event)" style="display:none;" type="file" accept="image/*"
                  capture="camera">
              </ion-avatar>
              <ion-label>
                <p>Full Name</p>
                <h2>{{user.name}}</h2>
              </ion-label>
            </ion-item>

            <div class="form">

              <div class="input-item flex al-center jc-between">
                <ion-label>Company</ion-label>
                <ion-item lines="none">
                  <ion-input type="text" [disabled]="!edit" [(ngModel)]="user.company"></ion-input>
                </ion-item>
              </div>

              <div class="input-item flex al-center jc-between">
                <ion-label>Email</ion-label>
                <ion-item lines="none">
                  <ion-input type="email" disabled="true" [(ngModel)]="user.email"></ion-input>
                </ion-item>
              </div>

              <div class="input-item flex al-center jc-between">
                <ion-label>Contact</ion-label>
                <ion-item lines="none">
                  <ion-input type="text" [disabled]="!edit" [(ngModel)]="user.contact"></ion-input>
                </ion-item>
              </div>

              <div class="input-item flex al-center jc-between">
                <ion-label>Account Type</ion-label>
                <ion-item lines="none">
                  <ion-input type="text" disabled="true" [(ngModel)]="user.type"></ion-input>
                </ion-item>
              </div>


              <div class="btn-holder flex al-center jc-between ion-padding-top">
                <ion-button id="update" (click)="edit = true" *ngIf="!edit">
                  Update Info
                </ion-button>
                <ion-button id="update" color="warning" (click)="edit = false" *ngIf="edit">
                  Cancel
                </ion-button>
                <ion-button id="sync" (click)="sync()" *ngIf="!edit">
                  Sync Account
                </ion-button>
                <ion-button id="sync" *ngIf="edit" (click)="save(user); edit = false">
                  Save
                </ion-button>
                <ion-button (click)="logout()">
                  Logout
                </ion-button>
              </div>


            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="main-grid" fixed>
    <ion-row>
      <ion-col size="6">

      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="mobile">
    <div class="mobile-content">
      <div class="profile-holder ion-text-center ">
        <ion-avatar style="margin-bottom: 10%;">
          <div class="circle" *ngIf="app" (click)="takePhoto()">
            <img *ngIf="user.photo" [src]="user.photo">
            <img *ngIf="!user.photo" src="assets/imgs/user.jpg">
            <ion-button color="warning" style="margin-left: 20px; margin-top: -53px;" fill="clear">
              <ion-icon name="camera" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </ion-avatar>

        <div class="form">

          <div class="input-item flex al-center jc-between">
            <ion-label>Company</ion-label>
            <ion-item lines="none">
              <ion-input type="text" [disabled]="!edit" [(ngModel)]=" user.company"></ion-input>
            </ion-item>
          </div>

          <div class="input-item flex al-center jc-between">
            <ion-label>Email</ion-label>
            <ion-item lines="none">
              <ion-input type="email" disabled="true" [(ngModel)]="user.email"> </ion-input>
            </ion-item>
          </div>

          <div class="input-item flex al-center jc-between">
            <ion-label>Contact</ion-label>
            <ion-item lines="none">
              <ion-input type="text" [disabled]="!edit" [(ngModel)]="user.contact"> </ion-input>
            </ion-item>
          </div>

          <div class="input-item flex al-center jc-between">
            <ion-label>Account Type</ion-label>
            <ion-item lines="none">
              <ion-input type="text" disabled="true" [(ngModel)]="user.type"></ion-input>
            </ion-item>
          </div>

          <div class="input-item flex al-center jc-between">
            <ion-label>App Version</ion-label>
            <ion-item lines="none">
              <ion-input type="text">{{versionNumber}}</ion-input>
            </ion-item>
          </div>


        </div>

      </div>
      <div style="width: 100%;text-align: center;">
        <ion-button expand="block" id="syncc" *ngIf="!edit" (click)="edit=true">
          Edit
        </ion-button>
        <ion-button expand="block" id="syncc" *ngIf="edit" (click)="edit=false">
          Cancel
        </ion-button>
      </div>

      <ion-row class="mobile-btn-holder ion-padding-top">
        <ion-col size="6">
          <ion-button expand="block" id="syncc">
            Sync Account
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" id="savee" (click)="save(user); edit=false">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <div class="btn-holder logout-holder">
      <ion-button (click)="logout()" expand="block">
        Logout
      </ion-button>
    </div>

  </div>



  <div class="footer desktop">
    <p class="ion-text-wrap"> All Rights Reserved | Copyright <span>@securitycontrol.co.za</span> </p>
  </div>
</ion-content>
