<ion-content class="ion-padding-horizontal">
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
      <ion-col sizeXs="12" sizeSm="8" sizeMd="6" sizeLg="4" sizeXl="4" class="ion-no-padding">
        <div class="holder">
          <div class="logo-holder ion-text-center">
            <img src="assets/imgs/logo.svg" alt="" />
          </div>

          <div class="the-form">
            <div class="title">
              <h3>Register</h3>
              <p class="ion-text-wrap">Create your account</p>
            </div>

            <div class="input-item">
              <ion-label>Email</ion-label>
              <ion-item lines="none">
                <ion-input type="email" [(ngModel)]="user.email" placeholder="Johndoe@gmail.com"></ion-input>
              </ion-item>
            </div>

            <div class="input-item">
              <ion-label>Password</ion-label>
              <ion-item lines="none">
                <ion-input [(ngModel)]="user.password" type="password" placeholder="*********"></ion-input>
              </ion-item>
            </div>

            <div class="btn-holder ion-padding-top">
              <ion-button (click)="register(user)" expand="block">
                Create Account
              </ion-button>
            </div>

            <div class="bottom-holder ion-text-center" (click)="goToLogin()">
              <p>Already have an account?<span> &nbsp;Login</span></p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="footer desktop">
    <p class="ion-text-wrap">
      All Rights Reserved | Copyright <span>@securitycontrol.co.za</span>
    </p>
  </div>
</ion-content>
