<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>THEFT FORM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-item>
                  <ion-label position="floating">Date Today</ion-label>
                  <ion-input  [(ngModel)]="appeal.date" [readonly]="true"></ion-input>
                </ion-item>

               


                <ion-item>
                  <ion-label position="floating" *ngIf='full'>Full Name</ion-label>
                  <ion-label position="floating" *ngIf="!full" style="color:red !important">Full Name
                  </ion-label>
                  <ion-input   [(ngModel)]="appeal.full"></ion-input>
                </ion-item>



                <ion-item>
                  <ion-label position="floating" *ngIf="add">Home Address</ion-label>
                  <ion-label position="floating" *ngIf="!add" style="color:red !important">Home Address
                  </ion-label>
                  <ion-input   [(ngModel)]="appeal.add"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="cell">Contact Cell Number:</ion-label>
                  <ion-label position="floating" *ngIf="!cell" style="color:red !important">Contact Cell Number:
                  </ion-label>
                  <ion-input   [(ngModel)]="appeal.cell"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="ob">OB Number</ion-label>
                  <ion-label position="floating" *ngIf="!ob" style="color:red !important"> OB Number
                  </ion-label>
                  <ion-input   [(ngModel)]="appeal.ob"></ion-input>
                </ion-item>


                <ion-item>
                  <ion-label position="floating" *ngIf="description"> FULL DISCRIPTION OF THE INCIDENT:</ion-label>
                  <ion-label position="floating" *ngIf="!description" style="color:red !important">  FULL DISCRIPTION OF THE INCIDENT:
                  </ion-label>
                  <ion-textarea   [(ngModel)]="appeal.description"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="location"> DETAILED DESCRIPTION OF THE <br> LOCATION WHEN THE INCIDENT OCCURRED:</ion-label>
                  <ion-label position="floating" *ngIf="!location" style="color:red !important">  DETAILED DESCRIPTION OF THE <br>LOCATION WHEN THE INCIDENT OCCURRED:
                  </ion-label>
                  <ion-textarea  [(ngModel)]="appeal.location"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="suspect">  DETAILED DESCRIPTION OF THE SUSPECT</ion-label>
                  <ion-label position="floating" *ngIf="!suspect" style="color:red !important"> DETAILED DESCRIPTION OF THE SUSPECT
                  </ion-label>
                  <ion-textarea   [(ngModel)]="appeal.suspect"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="arrest"> DESCRIPTION OF THE ARREST, IF APPLICABLE</ion-label>
                  <ion-label position="floating" *ngIf="!arrest" style="color:red !important"> DESCRIPTION OF THE ARREST, IF APPLICABLE
                  </ion-label>
                  <ion-textarea   [(ngModel)]="appeal.arrest"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="value">DESCRIPTION OF THE VALUE OF THE ITEMS TAKEN:</ion-label>
                  <ion-label position="floating" *ngIf="!value" style="color:red !important"> DESCRIPTION OF THE VALUE OF THE ITEMS TAKEN:
                  </ion-label>
                  <ion-textarea   [(ngModel)]="appeal.value"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="outcome"> OUTCOME OF THE EVENT:</ion-label>
                  <ion-label position="floating" *ngIf="!outcome" style="color:red !important">  OUTCOME OF THE EVENT:
                  </ion-label>
                  <ion-textarea   [(ngModel)]="appeal.outcome"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="cause"> DO YOU WISH TO LAY A CHARGE AGAINST THE SUPECT WITH THE SAP? <br>IF YES, PLEASE PROVIDE THE DETAILS AND CASE NUMBER PROVIDED BY THE SAPS:</ion-label>
                  <ion-label position="floating" *ngIf="!cause" style="color:red !important">  DO YOU WISH TO LAY A CHARGE AGAINST THE SUPECT WITH THE SAP?<br> IF YES, PLEASE PROVIDE THE DETAILS AND CASE NUMBER PROVIDED BY THE SAPS:
                  </ion-label>
                  <ion-textarea   [(ngModel)]="appeal.cause"></ion-textarea>
                </ion-item>

               <p> FURTHER DECLARE THAT THIS STATEMENT IS TRUE TO THE BESTOF MY KNOWLEDGE AND BELIEVE THAT I HAVE MADE THIS STATEMENT KNOWING THAT, IF IT WERE TENDERED EVIDENCE, I WOULD BE LIABLE FOR PROSECUTION, IF I WILLFULLY STATED IN IT ANYTHING WHICH I KNEW TO BE FALSE, OR WHICH I DID NOT BELIEVE TO BE TRUE.  I HAVE NO OBJECTION TO TAKING THE PRESCRIBED OATH.  I CONSIDER THE PRESCRIBED OATH TO BE BINDING ON MY CONSCIENCE</p>

               <ion-item>
                <ion-label position="floating" *ngIf='place'>Signed at</ion-label>
                <ion-label position="floating" *ngIf="!place" style="color:red !important">Signed at
                </ion-label>
                <ion-input   [(ngModel)]="appeal.place"></ion-input>
              </ion-item>

              <img [src]="appeal.empSig" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

              <ion-item lines="none">
                <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("empSig")'>Add Signature
                </ion-button>
              </ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf='empSig' class="ion-text-center"> Signature</ion-label>
                      <ion-label *ngIf='!empSig' class="ion-text-center" style="color:red !important">
                        Signature
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
 <ion-item>
                  <ion-label position="floating"  > User Name</ion-label>
                  <ion-textarea [readonly]="true"  [(ngModel)]="appeal.user"></ion-textarea>
                </ion-item>

                <img [src]="appeal.sigUser" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("sigUser")'>Add Signature
                  </ion-button>
                </ion-item>


                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf='sigUser' class="ion-text-center">User Signature</ion-label>
                      <ion-label *ngIf='!sigUser' class="ion-text-center" style="color:red !important">
                        User Signature
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>


                <ion-item>
                  <ion-label position="floating" *ngIf="witnessesName"> Witnesses Name:</ion-label>
                  <ion-label position="floating" *ngIf="!witnessesName" style="color:red !important">  Witnesses Name:
                  </ion-label>
                  <ion-textarea   [(ngModel)]="appeal.witnessesName"></ion-textarea>
                </ion-item>

                <img [src]="appeal.witSig" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("witSig")'>Add Witness Signature
                  </ion-button>
                </ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf='witSig' class="ion-text-center">Witnesses Signature</ion-label>
                      <ion-label *ngIf='!witSig' class="ion-text-center" style="color:red !important"> Witnesses
                        Signature
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>

  <ion-item>
                  <ion-label position="floating" > SAPS Officer Name:</ion-label>
                  <ion-textarea   [(ngModel)]="appeal.sapsnom"></ion-textarea>
                </ion-item>

                <img [src]="appeal.sigOfficer" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("sigOfficer")'>Add Signature
                  </ion-button>
                </ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label  class="ion-text-center">SAPS Officer Signature</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check()">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>