<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start">
      <ion-button *ngIf="prevButton" (click)="prev()">Prev <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="exitButton" (click)="exit()">Exit <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>PNP SITE VISIT</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="nxtButton" (click)="next()">Next <ion-icon name="arrow-forward" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-slides #slides pager="false" [options]="{autoScaleSlider: true}">

                  <ion-slide>

                    <ion-item>
                      <ion-label position="floating">Date</ion-label>
                      <ion-input [readonly]="true" [(ngModel)]="visit.date"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Time</ion-label>
                      <ion-input [readonly]="true" [(ngModel)]="visit.time"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Manager</ion-label>
                      <ion-input [readonly]="true" [(ngModel)]="visit.manager"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="siteValue" position="floating">Site Name *</ion-label>
                      <ion-label *ngIf="!siteValue" position="floating" style="color:red !important">Site Name *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="getSiteDetails(visit)" (click)="searchSites(visit)"
                        [(ngModel)]="visit.siteKey">
                        <ion-select-option *ngFor="let site of sites | async" [value]=site.key>{{site.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.site"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="obValue" position="floating">OB Number *</ion-label>
                      <ion-label *ngIf="!obValue" position="floating" style="color:red !important">OB Number *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.ob" type="text"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="soValue" position="floating">Number of Officers on Duty *</ion-label>
                      <ion-label *ngIf="!soValue" position="floating" style="color:red !important">Number of Officers on
                        Duty *</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.duty" type="number"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 0">
                      <ion-label position="floating">1) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (click)="allGuards(visit)" (ionChange)="guardDetails(visit)"
                        [(ngModel)]="visit.soKey">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 1">
                      <ion-label position="floating">2) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails2(visit)" [(ngModel)]="visit.soKey2">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so2"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 2">
                      <ion-label position="floating">3) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails3(visit)" [(ngModel)]="visit.soKey3">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so3"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 3">
                      <ion-label position="floating">4) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails4(visit)" [(ngModel)]="visit.soKey4">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so4"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 4">
                      <ion-label position="floating">5) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails5(visit)" [(ngModel)]="visit.soKey5">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so5"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 5">
                      <ion-label position="floating">6) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails6(visit)" [(ngModel)]="visit.soKey6">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so6"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 6">
                      <ion-label position="floating">7) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails7(visit)" [(ngModel)]="visit.soKey7">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so7"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 7">
                      <ion-label position="floating">8) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails8(visit)" [(ngModel)]="visit.soKey8">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so8"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 8">
                      <ion-label position="floating">9) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails9(visit)" [(ngModel)]="visit.soKey9">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so9"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="visit.duty > 9">
                      <ion-label position="floating">10) Security Officer on Duty *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails10(visit)" [(ngModel)]="visit.soKey10">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.so10"></ion-input>
                    </ion-item>

                  </ion-slide>

                  <ion-slide>
                    <ion-item>
                      <ion-label *ngIf="incValue" position="floating">Any Incidents Reported Since Last Visit? *
                      </ion-label>
                      <ion-label *ngIf="!incValue" position="floating" style="color:red !important">Any Incidents
                        Reported Since Last Visit? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.incidents">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.incidents"></ion-input>
                    </ion-item>

                    <div *ngIf="visit.incidents == 'Yes'">
                      <p text-center>INCIDENT DETAILS</p>
                      <ion-item>
                        <ion-label *ngIf="incTypeValue" position="floating">Type of Incident *</ion-label>
                        <ion-label *ngIf="!incTypeValue" position="floating" style="color:red !important">Type of
                          Incident *</ion-label>
                        <ion-input [readonly]="view" [(ngModel)]="visit.incType" type="text" autocomplete="true"
                          spellcheck="true">
                        </ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label *ngIf="incDateValue" position="floating">Date</ion-label>
                        <ion-label *ngIf="!incDateValue" position="floating" style="color:red !important">Date
                        </ion-label>
                        <ion-datetime [readonly]="view" (ionChange)="edit()" [(ngModel)]="visit.incDateTime"></ion-datetime>
                      </ion-item>

                      <ion-item>
                        <ion-label *ngIf="incRepValue" position="floating">Reports Submitted? *</ion-label>
                        <ion-label *ngIf="!incRepValue" position="floating" style="color:red !important">Reports
                          Submitted? *</ion-label>
                        <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.incReported">
                          <ion-select-option>Yes</ion-select-option>
                          <ion-select-option>No</ion-select-option>
                        </ion-select>
                        <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.incReported"></ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label *ngIf="incActValue" position="floating">Follow-up Actions Taken? *</ion-label>
                        <ion-label *ngIf="!incActValue" position="floating" style="color:red !important">Follow-up
                          Actions Taken? *
                        </ion-label>
                        <ion-input [readonly]="view" [(ngModel)]="visit.incActions" type="text" autocomplete="true"
                          spellcheck="true">
                        </ion-input>
                      </ion-item>
                    </div>
                  </ion-slide>

                  <ion-slide>

                    <ion-item>
                      <ion-label *ngIf="riskValue" position="floating">Risk Detected During Site Visit? *</ion-label>
                      <ion-label *ngIf="!riskValue" position="floating" style="color:red !important">Risk Detected
                        During Site Visit? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.risk">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.risk"></ion-input>
                    </ion-item>

                    <div *ngIf="visit.risk == 'Yes'">

                      <p text-center>RISK 1</p>

                      <p *ngIf="!photoValue" style="color:red !important" text-center>Please Take atleast 1 Photo!</p>
                      <div [hidden]="view">
                        <ion-row [hidden]="!isApp">
                          <ion-col class="ion-text-center">
                            <ion-button (click)="takePhoto1()">
                              <ion-icon name="camera" slot="start"></ion-icon>Photo 1
                            </ion-button>
                          </ion-col>
                        </ion-row>
                        <ion-row [hidden]="isApp">
                          <ion-col class="ion-text-center">
                            <ion-button (click)="picture1.click()">
                              <ion-icon name="camera" slot="start"></ion-icon>Photo 1
                            </ion-button>
                          </ion-col>
                          <image-cropper [imageChangedEvent]="imageChangedEvent1" [maintainAspectRatio]="true"
                            [aspectRatio]="4 / 4" [resizeToWidth]="300" format="png"
                            (imageCropped)="imageCropped1($event)">
                          </image-cropper>
                        </ion-row>
                      </div>
                      <input #picture1 (change)="fileChangeEvent1($event)" style="display:none;" type="file"
                        accept="image/*" capture="camera">
                      <div text-centre>
                        <img *ngIf="visit.photo1" [src]=visit.photo1 class="thumb">
                      </div>

                      <ion-item>
                        <ion-label *ngIf="detValue" position="floating">Risk Detected *</ion-label>
                        <ion-label *ngIf="!detValue" position="floating" style="color:red !important">Risk Detected *
                        </ion-label>
                        <ion-input [readonly]="view" [(ngModel)]="visit.riskDesc1" type="text" autocomplete="true"
                          spellcheck="true">
                        </ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-label *ngIf="recValue" position="floating">Recommendation *</ion-label>
                        <ion-label *ngIf="!recValue" position="floating" style="color:red !important">Recommendation *
                        </ion-label>
                        <ion-input [readonly]="view" [(ngModel)]="visit.riskRec1" type="text" autocomplete="true"
                          spellcheck="true">
                        </ion-input>
                      </ion-item>

                      <ion-button (click)="addRisk2()">Add Risk 2</ion-button>


                      <div *ngIf="risk2">

                        <p text-center>RISK 2</p>

                        <div [hidden]="view">
                          <ion-row [hidden]="!isApp">
                            <ion-col class="ion-text-center">
                              <ion-button (click)="takePhoto2()">
                                <ion-icon name="camera" slot="start"></ion-icon>Photo 2
                              </ion-button>
                            </ion-col>
                          </ion-row>
                          <ion-row [hidden]="isApp">
                            <ion-col class="ion-text-center">
                              <ion-button (click)="picture2.click()">
                                <ion-icon name="camera" slot="start"></ion-icon>Photo 2
                              </ion-button>
                            </ion-col>
                            <image-cropper [imageChangedEvent]="imageChangedEvent2" [maintainAspectRatio]="true"
                              [aspectRatio]="4 / 4" [resizeToWidth]="300" format="png"
                              (imageCropped)="imageCropped2($event)">
                            </image-cropper>
                          </ion-row>
                        </div>
                        <input #picture2 (change)="fileChangeEvent2($event)" style="display:none;" type="file"
                          accept="image/*" capture="camera">
                        <div text-centre>
                          <img *ngIf="visit.photo2" [src]=visit.photo2 class="thumb">
                        </div>

                        <ion-item>
                          <ion-label position="floating">Risk Detected *</ion-label>
                          <ion-input [readonly]="view" [(ngModel)]="visit.riskDesc2" type="text" autocomplete="true"
                            spellcheck="true">
                          </ion-input>
                        </ion-item>

                        <ion-item>
                          <ion-label position="floating">Recommendation *</ion-label>
                          <ion-input [readonly]="view" [(ngModel)]="visit.riskRec2" type="text" autocomplete="true"
                            spellcheck="true">
                          </ion-input>
                        </ion-item>
                        <ion-button (click)="addRisk3()">Add Risk 3</ion-button>

                        <div *ngIf="risk3">
                          <p text-center>RISK 3</p>

                          <div [hidden]="view">
                            <ion-row [hidden]="!isApp">
                              <ion-col class="ion-text-center">
                                <ion-button (click)="takePhoto3()">
                                  <ion-icon name="camera" slot="start"></ion-icon>Photo 3
                                </ion-button>
                              </ion-col>
                            </ion-row>
                            <ion-row [hidden]="isApp">
                              <ion-col class="ion-text-center">
                                <ion-button (click)="picture3.click()">
                                  <ion-icon name="camera" slot="start"></ion-icon>Photo 3
                                </ion-button>
                              </ion-col>
                              <image-cropper [imageChangedEvent]="imageChangedEvent3" [maintainAspectRatio]="true"
                                [aspectRatio]="4 / 4" [resizeToWidth]="300" format="png"
                                (imageCropped)="imageCropped3($event)">
                              </image-cropper>
                            </ion-row>
                          </div>
                          <input #picture3 (change)="fileChangeEvent3($event)" style="display:none;" type="file"
                            accept="image/*" capture="camera">
                          <div text-centre>
                            <img *ngIf="visit.photo3" [src]=visit.photo3 class="thumb">
                          </div>

                          <ion-item>
                            <ion-label position="floating">Risk Detected *</ion-label>
                            <ion-input [readonly]="view" [(ngModel)]="visit.riskDesc3" type="text" autocomplete="true"
                              spellcheck="true">
                            </ion-input>
                          </ion-item>

                          <ion-item>
                            <ion-label position="floating">Recommendation *</ion-label>
                            <ion-input [readonly]="view" [(ngModel)]="visit.riskRec3" type="text" autocomplete="true"
                              spellcheck="true">
                            </ion-input>
                          </ion-item>
                        </div>
                      </div>
                    </div>
                    <input #picture1 style="display:none;" type="file" accept="image/*" capture="camera">
                    <input #picture2 style="display:none;" type="file" accept="image/*" capture="camera">
                    <input #picture3 style="display:none;" type="file" accept="image/*" capture="camera">
                  </ion-slide>

                  <ion-slide>
                    <p text-center>CHECKLIST INSPECTION</p>

                    <ion-item>
                      <ion-label *ngIf="alarmsValue" position="floating">Are any cameras not working? *</ion-label>
                      <ion-label *ngIf="!alarmsValue" position="floating" style="color:red !important">Are any cameras
                        not working? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.alarms">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.alarms"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com1" type="text" autocomplete="true"
                        spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="uniformValue" position="floating">Are there any decorations obstructing the
                        cameras? *
                      </ion-label>
                      <ion-label *ngIf="!uniformValue" position="floating" style="color:red !important">Are there any
                        decorations obstructing
                        the cameras? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.uniforms">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.uniforms"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com2" type="text" autocomplete="true"
                        spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="roomValue" position="floating">Are the daily reviews done? *</ion-label>
                      <ion-label *ngIf="!roomValue" position="floating" style="color:red !important">Are the daily
                        reviews done? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.guardroom">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.guardroom"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com3" type="text" autocomplete="true"
                        spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="obBookValue" position="floating">Are all monitors working? *</ion-label>
                      <ion-label *ngIf="!obBookValue" position="floating" style="color:red !important">Are all monitors
                        working? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.obComplete">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.obComplete"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com4" type="text" autocomplete="true"
                        spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="regValue" position="floating">Is the telephone working and available? *
                      </ion-label>
                      <ion-label *ngIf="!regValue" position="floating" style="color:red !important">Is the telephone
                        working and available? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.registers">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.registers"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com5" type="text" autocomplete="true"
                        spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="radiosValue" position="floating">Is the control room neat and tidy? *
                      </ion-label>
                      <ion-label *ngIf="!radiosValue" position="floating" style="color:red !important">Is the control
                        room neat and tidy? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.radios">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.radios"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com6" type="text" autocomplete="true"
                        spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="panicValue" position="floating">Are the hand radios in working order? *
                      </ion-label>
                      <ion-label *ngIf="!panicValue" position="floating" style="color:red !important">Are the hand
                        radios in working order? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.panic">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.panic"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com7" type="text" autocomplete="true"
                        spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="phoneValue" position="floating">Have there been any arrests since the last
                        visit? *
                      </ion-label>
                      <ion-label *ngIf="!phoneValue" position="floating" style="color:red !important">Have there been
                        any arrests since the
                        last visit? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.phone">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.phone"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com8" type="text" autocomplete="true"
                        spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="patrolValue" position="floating">Have there been any preventions since the last
                        visit? *
                      </ion-label>
                      <ion-label *ngIf="!patrolValue" position="floating" style="color:red !important">Have there been
                        any preventions since
                        the last visit?
                        *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.patrol">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.patrol"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com9" type="text" autocomplete="true"
                        spellcheck="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="torchValue" position="floating">Have there been any recoveries since the last
                        visit? *
                      </ion-label>
                      <ion-label *ngIf="!torchValue" position="floating" style="color:red !important">Have there been
                        any recoveries since the
                        last visit? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.torch">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.torch"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com10" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="elecValue" position="floating">Was the panic button tested since the last visit?
                        *
                      </ion-label>
                      <ion-label *ngIf="!elecValue" position="floating" style="color:red !important">Was the panic
                        button tested since the
                        last visit? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.elec">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.elec"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com11" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="camValue" position="floating">Are the 80/20 report completed? *</ion-label>
                      <ion-label *ngIf="!camValue" position="floating" style="color:red !important">Are the 80/20 report
                        completed? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.cameras">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.cameras"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com12" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Do the controllers have any issues? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.cont">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.cont"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com13" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Is the cash in transit officers monitored while on site? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.cash">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.cash"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com14" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Is the Occurance book completed? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.compl">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.compl"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com15" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Is the duty roster on site? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.dutyRoster">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.dutyRoster"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com16" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Are all entrances monitored by CCTV cameras? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.cctv">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.cctv"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com17" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Are all entrances to the store monitored by CCTV cameras? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.monitored">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.monitored"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com18" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Can you clearly identify customers entering the store? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.store">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.store"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com19" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Is the cash office monitored by CCTV cameras? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.office">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.office"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com20" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Are there sufficient coverage in the cash office? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.coverage">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.coverage"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com21" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Are there sufficient cameras placed in strategic areas? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.strategic">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.strategic"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com22" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Do we have any blind spots in the store? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.blind">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.blind"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com23" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Are all hot products on 24 hour power supply? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.hot">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.hot"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com24" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Does electricity saving process affect video recording at night? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.video">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.video"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com25" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Does control room review high risk areas every morning? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.review">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.review"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com26" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Does control room provide footage to management on request? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.request">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.request"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com27" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Is there limited authorized access to the control room? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.limited">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.limited"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com28" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Is the control room permanently manned? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.manned">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.manned"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com29" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Is the ingate monitored by CCTV cameras? *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="visit.ingate">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Applicable</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.ingate"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Comments</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.com30" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                  </ion-slide>

                  <ion-slide>
                    <p text-center>CLIENT MEETING</p>

                    <ion-item>
                      <ion-label *ngIf="clientValue" position="floating">Client Name *</ion-label>
                      <ion-label *ngIf="!clientValue" position="floating" style="color:red !important">Client Name *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.client" type="text"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Client Discussion</ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="visit.discussion" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="issuesValue" position="floating">Does the client have any Issues with the
                        Service? *
                      </ion-label>
                      <ion-label *ngIf="!issuesValue" position="floating" style="color:red !important">Does the client
                        have any Issues with
                        the Service? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" (click)="status(visit)" (ionChange)="status(visit)"
                        [(ngModel)]="visit.issues">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                        <ion-select-option>Not Available</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.issues"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="emailOption">
                      <ion-label *ngIf="emailValue" position="floating">Email to Client? *</ion-label>
                      <ion-label *ngIf="!emailValue" position="floating" style="color:red !important">Email to Client? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="status(visit)" [(ngModel)]="visit.email">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="visit.email"></ion-input>
                    </ion-item>

                    <img [src]="visit.manSig" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("manSig")'>Add Manager Signature
                      </ion-button>
                    </ion-item>

                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-item>
                          <ion-label *ngIf="sigValue" class="ion-text-center">Manager Signature *</ion-label>
                          <ion-label *ngIf="!sigValue" class="ion-text-center" style="color:red !important">Manager
                            Signature *
                          </ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
               

                    <img [src]="visit.clientSig" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("clientSig")'>Add Client Signature
                      </ion-button>
                    </ion-item>

                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-item>
                          <ion-label class="ion-text-center">Client Signature *</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
            

                  </ion-slide>

                </ion-slides>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check(visit)">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>