<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start">
      <ion-button *ngIf="prevButton" (click)="prev()">Prev <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="exitButton" (click)="exit()">Exit <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Uniform Order</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="nxtButton" (click)="next()">Next <ion-icon name="arrow-forward" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-slides #slides pager="false" [options]="{autoScaleSlider: true}">

                  <ion-slide>

                    <ion-item>
                      <ion-label position="floating">Date</ion-label>
                      <ion-input type="text" [(ngModel)]="uniform.date" [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Time</ion-label>
                      <ion-input type="text" [(ngModel)]="uniform.time" [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Manager/ Supervisor</ion-label>
                      <ion-input type="text" [(ngModel)]="uniform.user" [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="siteValue" position="floating">Site Name *</ion-label>
                      <ion-label *ngIf="!siteValue" position="floating" style="color:red !important">Site Name *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view && !saved" (click)="searchSites(uniform)" (ionChange)="getSiteDetails(uniform)"
                        [(ngModel)]="uniform.siteKey">
                        <ion-select-option *ngFor="let site of sites | async" [value]=site.key>{{site.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.site"
                        [readonly]="true"></ion-input>
                        <ion-input *ngIf="saved" [readonly]="true" type="text" [(ngModel)]="uniform.site"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="soValue" position="floating">Name of Employee *</ion-label>
                      <ion-label *ngIf="!soValue" position="floating" style="color:red !important">Name of Employee *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" (ionChange)="guardDetails(uniform)" [(ngModel)]="uniform.soKey">
                        <ion-select-option *ngFor="let guard of guards | async" [value]=guard.Key>{{guard.name}}
                        </ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.so" [readonly]="true">
                      </ion-input>
                    </ion-item>

                    
                    <ion-item>
                      <ion-label *ngIf="soValue" position="floating">Company Number</ion-label>
                     
                      <ion-input [(ngModel)]="uniform.companyNumber" >
                      </ion-input>
                    </ion-item>


                    <ion-item>
                      <ion-label *ngIf="trouserValue" position="floating">Trousers *</ion-label>
                      <ion-label *ngIf="!trouserValue" position="floating" style="color:red !important">Trousers *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.trousers">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.trousers"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.trousers == 'Yes'">
                      <ion-label *ngIf="tsizeValue" position="floating">Trouser Size *</ion-label>
                      <ion-label *ngIf="!tsizeValue" position="floating" style="color:red !important">Trouser Size *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="uniform.trouserSize" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.trousers == 'Yes'">
                      <ion-label position="floating">Qty Trousers *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty1">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty1"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="shirtValue" position="floating">Shirt *</ion-label>
                      <ion-label *ngIf="!shirtValue" position="floating" style="color:red !important">Shirt *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.shirt">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.shirt"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.shirt == 'Yes'">
                      <ion-label *ngIf="ssizeValue" position="floating">Shirt Size *</ion-label>
                      <ion-label *ngIf="!ssizeValue" position="floating" style="color:red !important">Shirt Size *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="uniform.shirtSize" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.shirt == 'Yes'">
                      <ion-label position="floating">Qty Shirts *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty2">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty2"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="jacketValue" position="floating">Jacket *</ion-label>
                      <ion-label *ngIf="!jacketValue" position="floating" style="color:red !important">Jacket *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.jacket">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.jacket"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.jacket == 'Yes'">
                      <ion-label *ngIf="jsizeValue" position="floating">Jacket Size *</ion-label>
                      <ion-label *ngIf="!jsizeValue" position="floating" style="color:red !important">Jacket Size *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="uniform.jacketSize" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.jacket == 'Yes'">
                      <ion-label position="floating">Qty Jackets *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty3">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty3"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="jerseyValue" position="floating">Jersey *</ion-label>
                      <ion-label *ngIf="!jerseyValue" position="floating" style="color:red !important">Jersey *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.jersey">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.jersey"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.jersey == 'Yes'">
                      <ion-label *ngIf="jesizeValue" position="floating">Jersey Size *</ion-label>
                      <ion-label *ngIf="!jesizeValue" position="floating" style="color:red !important">Jersey Size *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="uniform.jerseySize" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.jersey == 'Yes'">
                      <ion-label position="floating">Qty Jerseys *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty4">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty4"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="bootsValue" position="floating"> Combat Boot *</ion-label>
                      <ion-label *ngIf="!bootsValue" position="floating" style="color:red !important">Combat Boot *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.boots">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.boots"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.boots == 'Yes'">
                      <ion-label *ngIf="bsizeValue" position="floating">Boots Size *</ion-label>
                      <ion-label *ngIf="!bsizeValue" position="floating" style="color:red !important">Boots Size *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="uniform.bootSize" type="number"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.boots == 'Yes'">
                      <ion-label position="floating">Qty Boots *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty5">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty5"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="beanieValue" position="floating">Beanie *</ion-label>
                      <ion-label *ngIf="!beanieValue" position="floating" style="color:red !important">Beanie *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.beanie">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.beanie"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.beanie == 'Yes'">
                      <ion-label position="floating">Qty beanies *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty6">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty6"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="tieValue" position="floating">Tie *</ion-label>
                      <ion-label *ngIf="!tieValue" position="floating" style="color:red !important">Tie *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.tie">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.tie" [readonly]="true">
                      </ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.tie == 'Yes'">
                      <ion-label position="floating">Qty Ties *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty7">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty7"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="stepbootsValue" position="floating"> Step out Boots *</ion-label>
                      <ion-label *ngIf="!stepbootsValue" position="floating" style="color:red !important">Step out Boots *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.stepboots">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.stepboots"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.stepboots == 'Yes'">
                      <ion-label *ngIf="stepbsizeValue" position="floating">Boots Size *</ion-label>
                      <ion-label *ngIf="!stepbsizeValue" position="floating" style="color:red !important">Boots Size *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="uniform.stepbootSize" type="number"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.stepboots == 'Yes'">
                      <ion-label position="floating">Qty Boots *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.stepqty5">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.stepqty5"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="capValue" position="floating">Cap *</ion-label>
                      <ion-label *ngIf="!capValue" position="floating" style="color:red !important">Cap *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.cap">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.cap" [readonly]="true">
                      </ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.cap == 'Yes'">
                      <ion-label position="floating">Qty Caps *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty8">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty8"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="beltValue" position="floating">Belt *</ion-label>
                      <ion-label *ngIf="!beltValue" position="floating" style="color:red !important">Belt *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.belt">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.belt"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.belt == 'Yes'">
                      <ion-label *ngIf="besizeValue" position="floating">Belt Size *</ion-label>
                      <ion-label *ngIf="!besizeValue" position="floating" style="color:red !important">Belt Size *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="uniform.beltSize" type="number"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.belt == 'Yes'">
                      <ion-label position="floating">Qty Belts *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty9">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty9"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="rainValue" position="floating">Rainsuit *</ion-label>
                      <ion-label *ngIf="!rainValue" position="floating" style="color:red !important">Rainsuit *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.rainsuit">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.rainsuit"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.rainsuit == 'Yes'">
                      <ion-label *ngIf="rsizeValue" position="floating">Rainsuit Size *</ion-label>
                      <ion-label *ngIf="!rsizeValue" position="floating" style="color:red !important">Rainsuit Size *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="uniform.rainsuitSize" type="text" autocomplete="true"
                        spellcheck="true">
                      </ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.rainsuit == 'Yes'">
                      <ion-label position="floating">Qty Rainsuits *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.qty10">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.qty10"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label *ngIf="shoes" position="floating"> Shoes *</ion-label>
                      <ion-label *ngIf="!shoes" position="floating" style="color:red !important">Shoes *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.shoes">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.shoes"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.shoes == 'Yes'">
                      <ion-label *ngIf="shoesvalue" position="floating">Shoes Size *</ion-label>
                      <ion-label *ngIf="!shoesvalue" position="floating" style="color:red !important">Shoes Size *
                      </ion-label>
                      <ion-input [readonly]="view" [(ngModel)]="uniform.shoeSize" type="number"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="uniform.shoes == 'Yes'">
                      <ion-label position="floating">Qty Shoes *</ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.shoesqty5">
                        <ion-select-option>1</ion-select-option>
                        <ion-select-option>2</ion-select-option>
                        <ion-select-option>3</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.shoesqty5"
                        [readonly]="true"></ion-input>
                    </ion-item>

                  </ion-slide>

                  <ion-slide>

                    <ion-item *ngIf="emailOption">
                      <ion-label *ngIf="emailValue" position="floating">Email Minutes to Client? *</ion-label>
                      <ion-label *ngIf="!emailValue" position="floating" style="color:red !important">Email Minutes to
                        Client? *
                      </ion-label>
                      <ion-select interface="popover"*ngIf="!view" [(ngModel)]="uniform.emailToClient">
                        <ion-select-option>Yes</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                      <ion-input *ngIf="view" [readonly]="true" type="text" [(ngModel)]="uniform.emailToClient"
                        [readonly]="true"></ion-input>
                    </ion-item>

                    <img [src]="uniform.manSig" alt="">

                    <ion-item lines="none">
                      <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("manSig")'>Add Manager Signature
                      </ion-button>
                    </ion-item>

                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-item>
                          <ion-label *ngIf="sigValue" class="ion-text-center">Manager Signature *</ion-label>
                          <ion-label *ngIf="!sigValue" class="ion-text-center" style="color:red !important">Manager
                            Signature *
                          </ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-slide>

                </ion-slides>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

  <ion-footer>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button style="--background: green;" (click)="check(uniform)">
        Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>