p {
    font-size: small;
}
.hide {
  display: none;
}
.show {
  display: flex;
}

ion-card-title {
  text-align: center;
}

.slide-btn{
  width: 20%;
  flex-direction: row; 
  text-align: center;
}
ion-input{
  --placeholder-opacity: 1;
  --placeholder-color	: white;
}
