<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">
        <h1>{{ formTitle }}</h1>
        <ion-button (click)="onExit()" fill="clear">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-card-title>
      <div style="width: 100%; display: flex;">
        <div class="slide-btn">
          <ion-button *ngIf="noOfSlides>=1 && slideIndex>0" color="danger" (click)="prevSlide()">Previous</ion-button>
        </div>
        <div style="width: 60%;flex-direction: row;">
        </div>
        <div class="slide-btn">
          <ion-button *ngIf="noOfSlides>=1 && slideIndex< noOfSlides " color="success" (click)="nextSlide()">Next
          </ion-button>
        </div>

      </div>
    </ion-card-header>
    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" *ngIf="show">
      <div formArrayName="inputs" *ngFor="let input of dynamicInputs; let i =index">
        <ion-item *ngIf="input.controlType =='select' && determineCondition(input.condition)">

          <ion-label position="stacked">{{input.label}}</ion-label>
          <ion-select interface="popover" [formControlName]="lastIndex + i" *ngIf="input.itemIsObject"
            (ionChange)="populateQuestionItems(input.populateQuestionItems)" [(ngModel)]="newFormObj[input.fieldName]">
            <ion-select-option *ngFor="let item of input.items" value="{{ item[input.itemsSaveVal] }}">{{
              item[input.itemsDisplayVal] }}
            </ion-select-option>
          </ion-select>
          <ion-select interface="popover" [formControlName]="lastIndex + i" *ngIf="!input.itemIsObject"
            (ionChange)="populateQuestionItems(input.populateQuestionItems)" [(ngModel)]="newFormObj[input.fieldName]">
            <ion-select-option *ngFor="let item of input.items" value="{{ item }}">{{ item }}
            </ion-select-option>
          </ion-select>
          <ion-text *ngIf="hasErrors(i)" color="danger">
            <p>Input required</p>
          </ion-text>
        </ion-item>
        <ion-item *ngIf="input.controlType =='normal' " [ngClass]="{'hide':  !determineCondition(input.condition)}">

          <ion-label position="stacked">{{ input.label }}</ion-label>
          <ion-input [type]="input.inputType" [formControlName]="lastIndex+ i" [placeholder]="input.value"
            [disabled]="input.disabled" [inputmode]="input.type" [(ngModel)]="newFormObj[input.fieldName]"></ion-input>
          <ion-text *ngIf="hasErrors(i)" color="danger">
            <p>Input required</p>
          </ion-text>
        </ion-item>
        <ion-item *ngIf="input.controlType == 'camera'">

          <ion-label position="stacked">{{ input.label }}</ion-label>
          <app-camera (imageString)="onImageEvent($event, input.fieldName)" *ngIf="!newFormObj[input.fieldName]">
          </app-camera>
          <ion-thumbnail *ngIf="newFormObj[input.fieldName]">
            <img [src]="newFormObj[input.fieldName]">
          </ion-thumbnail>
        </ion-item>
        <ion-item *ngIf="input.controlType == 'signaturePad'">

          <ion-label position="stacked">{{ input.label }}</ion-label>
          <ion-button (click)="onSign(input.fieldName)" expand="block" fill="clear" shape="round"
            *ngIf="!newFormObj[input.fieldName]">
            Signature
          </ion-button>
          <ion-thumbnail *ngIf="newFormObj[input.fieldName]">
            <img [src]="newFormObj[input.fieldName]">
          </ion-thumbnail>
        </ion-item>
        <ion-item *ngIf="input.controlType == 'date'">
          <ion-label position="stacked">{{ input.label }}</ion-label>
          <ion-datetime [readonly]="view" displayFormat="YYYY/MM/DD" [(ngModel)]="newFormObj[input.fieldName]"
            [formControlName]="lastIndex+ i"></ion-datetime>
          <ion-text *ngIf="hasErrors(i)" color="danger">
            <p>Input required</p>
          </ion-text>
        </ion-item>

        <ion-item *ngIf="input.controlType == 'time'">

          <ion-label position="stacked">{{ input.label }}</ion-label>
          <ion-datetime [readonly]="view" [formControlName]="lastIndex + i" displayFormat="HH:mm"
            [(ngModel)]="newFormObj[input.fieldName]">
          </ion-datetime>
          <ion-text *ngIf="hasErrors(i)" color="danger">
            <p>Input required</p>
          </ion-text>
        </ion-item>
      </div>
      <ion-button type="submit" expand="block" fill="clear" shape="round"
        *ngIf="(noOfSlides >=1 && slideIndex == noOfSlides) || (noOfSlides == 0)">
        Submit
      </ion-button>
    </form>
  </ion-card>
</ion-content>
