<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start">
      <ion-button  *ngIf="noOfSlides>=1 && slideIndex>0" (click)="prevSlide()">Prev <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="exitButton" (click)="exit()">Exit <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ formTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="noOfSlides>=1 && slideIndex < noOfSlides " (click)="nextSlide()">Next <ion-icon name="arrow-forward" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" *ngIf="show">
      <div formArrayName="inputs" *ngFor="let input of dynamicInputs; let i =index">
        <ion-item *ngIf="input.controlType =='select' && determineCondition(input.condition)">

          <ion-label position="stacked">{{input.label}}</ion-label>
          <ion-select interface="popover" [formControlName]="lastIndex + i" *ngIf="input.itemIsObject"
            (ionChange)="populateQuestionItems(input.populateQuestionItems)" [(ngModel)]="newFormObj[input.fieldName]">
            <ion-select-option *ngFor="let item of input.items" value="{{ item[input.itemsSaveVal] }}">{{
              item[input.itemsDisplayVal] }}
            </ion-select-option>
          </ion-select>
          <ion-select interface="popover" [formControlName]="lastIndex + i" *ngIf="!input.itemIsObject"
            (ionChange)="populateQuestionItems(input.populateQuestionItems)" [(ngModel)]="newFormObj[input.fieldName]">
            <ion-select-option *ngFor="let item of input.items" value="{{ item }}">{{ item }}
            </ion-select-option>
          </ion-select>
          <ion-text *ngIf="hasErrors(i)" color="danger">
            <p>Input required</p>
          </ion-text>
        </ion-item>
        <ion-item *ngIf="input.controlType =='normal' " [ngClass]="{'hide':  !determineCondition(input.condition)}">

          <ion-label position="stacked">{{ input.label }}</ion-label>
          <ion-input [type]="input.inputType" [formControlName]="lastIndex+ i" [placeholder]="input.value"
            [readonly]="input.disabled" [inputmode]="input.inputType" [(ngModel)]="newFormObj[input.fieldName]"></ion-input>
          <ion-text *ngIf="hasErrors(i)" color="danger">
            <p>Input required</p>
          </ion-text>
        </ion-item>
        <ion-item *ngIf="input.controlType == 'camera'  && determineCondition(input.condition)" >

          <ion-label position="stacked">{{ input.label }}</ion-label>
          <app-camera (imageString)="onImageEvent($event, input.fieldName)" *ngIf="!newFormObj[input.fieldName]">
          </app-camera>
          <ion-row *ngIf="newFormObj[input.fieldName]">
            <ion-col>
              <ion-thumbnail>
                <img [src]="newFormObj[input.fieldName]">
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-button (click)="newFormObj[input.fieldName] = undefined" fill="clear">
                <ion-icon name="trash-bin-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>



        </ion-item>
        <ion-item *ngIf="input.controlType == 'signaturePad' && determineCondition(input.condition)">

          <ion-label position="stacked">{{ input.label }}</ion-label>
          <ion-button (click)="onSign(input.fieldName)" expand="block" fill="clear" shape="round"
            *ngIf="!newFormObj[input.fieldName]">
            Signature
          </ion-button>
          <ion-thumbnail *ngIf="newFormObj[input.fieldName]">
            <img [src]="newFormObj[input.fieldName]">
          </ion-thumbnail>
        </ion-item>
        <ion-item *ngIf="input.controlType == 'date' && determineCondition(input.condition)">
          <ion-label position="stacked">{{ input.label }}</ion-label>
          <ion-datetime [readonly]="input.disabled" displayFormat="YYYY/MM/DD" [(ngModel)]="newFormObj[input.fieldName]"
            [formControlName]="lastIndex+ i"></ion-datetime>
          <ion-text *ngIf="hasErrors(i)" color="danger">
            <p>Input required</p>
          </ion-text>
        </ion-item>

        <ion-item *ngIf="input.controlType == 'time' && determineCondition(input.condition)">

          <ion-label position="stacked">{{ input.label }}</ion-label>
          <ion-datetime [readonly]="input.disabled" [formControlName]="lastIndex + i" displayFormat="HH:mm"
            [(ngModel)]="newFormObj[input.fieldName]">
          </ion-datetime>
          <ion-text *ngIf="hasErrors(i)" color="danger">
            <p>Input required</p>
          </ion-text>
        </ion-item>
      </div>
    </form>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button type="submit" style="--background: green;" *ngIf="(noOfSlides >=1 && slideIndex == noOfSlides) || (noOfSlides == 0)">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>


