<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Casualty/Injury</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-item>
                  <ion-label position="floating">Date Today</ion-label>
                  <ion-input [(ngModel)]="appeal.date" [readonly]="true"></ion-input>
                </ion-item>



                <ion-item>
                  <ion-label position="floating" *ngIf='at'>Casualty at</ion-label>
                  <ion-label position="floating" *ngIf="!at" style="color:red !important">Casualty at
                  </ion-label>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.at"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="result">As a result of:</ion-label>
                  <ion-label position="floating" *ngIf="!result" style="color:red !important">As a result of:
                  </ion-label>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.result"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="report2">Reported on:</ion-label>
                  <ion-label position="floating" *ngIf="!report2" style="color:red !important">Reported on:
                  </ion-label>
                  <ion-datetime [(ngModel)]="appeal.report2" displayFormat="YYYY MM DD">
                  </ion-datetime>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="from">From (area/section)</ion-label>
                  <ion-label position="floating" *ngIf="!from" style="color:red !important"> From (area/section)
                  </ion-label>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.from"></ion-input>
                </ion-item>


                <ion-item>
                  <ion-label position="floating" *ngIf="ambulance">Notified Ambulance Service </ion-label>
                  <ion-label position="floating" *ngIf="!ambulance" style="color:red !important"> Notified Ambulance
                    Service </ion-label>
                  <ion-datetime placeholder="time" item-right [(ngModel)]="appeal.ambulancetime" displayFormat="HH:mm">
                  </ion-datetime>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.ambulance"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="aid">Activated first aid team (specify) </ion-label>
                  <ion-label position="floating" *ngIf="!aid" style="color:red !important"> Activated first aid team
                    (specify) </ion-label>
                  <ion-datetime placeholder="time" item-right [(ngModel)]="appeal.aidtime" displayFormat="HH:mm">
                  </ion-datetime>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.aid"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="tenant">Alerted Tenants in area </ion-label>
                  <ion-label position="floating" *ngIf="!tenant" style="color:red !important"> Alerted Tenants in area
                  </ion-label>
                  <ion-datetime placeholder="time" item-right [(ngModel)]="appeal.tenanttime" displayFormat="HH:mm">
                  </ion-datetime>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.tenant"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="est">Established casualty section
                    Specify where </ion-label>
                  <ion-label position="floating" *ngIf="!est" style="color:red !important"> Established casualty section
                    Specify where </ion-label>
                  <ion-datetime placeholder="time" item-right [(ngModel)]="appeal.esttime" displayFormat="HH:mm">
                  </ion-datetime>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.est"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="hospital">Nearest Provincial Hospital
                    Notified </ion-label>
                  <ion-label position="floating" *ngIf="!hospital" style="color:red !important"> Nearest Provincial
                    Hospital
                    Notified </ion-label>
                  <ion-datetime placeholder="time" item-right [(ngModel)]="appeal.hospitaltime" displayFormat="HH:mm">
                  </ion-datetime>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.hospital"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="casualties">Number of casualties evacuated </ion-label>
                  <ion-label position="floating" *ngIf="!casualties" style="color:red !important"> Number of casualties
                    evacuated </ion-label>
                  <ion-datetime placeholder="time" item-right [(ngModel)]="appeal.casualtiestime" displayFormat="HH:mm">
                  </ion-datetime>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.casualties"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="kin">Next of kin notified </ion-label>
                  <ion-label position="floating" *ngIf="!kin" style="color:red !important"> Next of kin notified
                  </ion-label>
                  <ion-datetime placeholder="time" item-right [(ngModel)]="appeal.kintime" displayFormat="HH:mm">
                  </ion-datetime>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.kin"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="other">Any other items (specify) </ion-label>
                  <ion-label position="floating" *ngIf="!other" style="color:red !important"> Any other items (specify)
                  </ion-label>
                  <ion-datetime placeholder="time" item-right [(ngModel)]="appeal.othertime" displayFormat="HH:mm">
                  </ion-datetime>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.other"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="compile">Complied by </ion-label>
                  <ion-label position="floating" *ngIf="!compile" style="color:red !important"> Complied by </ion-label>
                  <ion-input placeholder="details..." [(ngModel)]="appeal.compile"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="add">Additional Information </ion-label>
                  <ion-label position="floating" *ngIf="!add" style="color:red !important"> Additional Information
                  </ion-label>
                  <ion-textarea [(ngModel)]="appeal.add"></ion-textarea>
                </ion-item>
                <p>NB: This is a preliminary action chart / checklist - detailed report WILL be required.
                </p>

                <img [src]="appeal.supsign" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("supsign")'>Add Signature
                  </ion-button>
                </ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf='supsign' class="ion-text-center"> Signature</ion-label>
                      <ion-label *ngIf='!supsign' class="ion-text-center" style="color:red !important">
                        Signature
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check()">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>