<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="exit()">Exit <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tenant Visit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="common-img-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="md-float-material">
              <div class="auth-box">

                <ion-item>
                  <ion-label position="floating">Date</ion-label>
                  <ion-input [readonly]="true" [(ngModel)]="tenant.date"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Time</ion-label>
                  <ion-input [readonly]="true" [(ngModel)]="tenant.time"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Manager/ Supervisor</ion-label>
                  <ion-input [readonly]="true" [(ngModel)]="tenant.user"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label *ngIf="siteValue" position="floating">Site Name *</ion-label>
                  <ion-label *ngIf="!siteValue" position="floating" style="color:red !important">Site Name *</ion-label>
                  <ion-select interface="popover"*ngIf="!view && !saved" (ionChange)="getSiteDetails(tenant)" [(ngModel)]="tenant.siteKey">
                    <ion-select-option *ngFor="let site of sites | async" [value]=site.key>{{site.name}}
                    </ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.site"></ion-input>
                  <ion-input *ngIf="saved" [readonly]="true" [(ngModel)]="tenant.site"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="tenantValue">Tenant Business Name *</ion-label>
                  <ion-label position="floating" *ngIf="!tenantValue" style="color:red !important">Tenant Business Name
                    *</ion-label>
                  <ion-input [readonly]="view" [(ngModel)]="tenant.name" type="text"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="repValue">Tenant Representative *</ion-label>
                  <ion-label position="floating" *ngIf="!repValue" style="color:red !important">Tenant Representative *
                  </ion-label>
                  <ion-input [readonly]="view" [(ngModel)]="tenant.rep" type="text"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="locksValue">Type of Locks & Handle *</ion-label>
                  <ion-label position="floating" *ngIf="!locksValue" style="color:red !important">Type of Locks & Handle
                    *</ion-label>
                  <ion-input [readonly]="view" [(ngModel)]="tenant.locks" type="text"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="haspValue">Hasp & Staple (Moon Lock)? *</ion-label>
                  <ion-label position="floating" *ngIf="!haspValue" style="color:red !important">Hasp & Staple (Moon
                    Lock)? *</ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.hasp">
                    <ion-select-option>YES</ion-select-option>
                    <ion-select-option>NO</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.hasp"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="safesValue">Lock up Safes? *</ion-label>
                  <ion-label position="floating" *ngIf="!safesValue" style="color:red !important">Lock up Safes? *
                  </ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.safes">
                    <ion-select-option>YES</ion-select-option>
                    <ion-select-option>NO</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.safes"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="proceduresValue">Lock up & Closing Time Procedures *</ion-label>
                  <ion-label position="floating" *ngIf="!proceduresValue" style="color:red !important">Lock up & Closing
                    Time Procedures *
                  </ion-label>
                  <ion-input [readonly]="view" [(ngModel)]="tenant.procedures" type="text"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="panicValue">Panic Buttons connected to Security? *</ion-label>
                  <ion-label position="floating" *ngIf="!panicValue" style="color:red !important">Panic Buttons
                    connected to Security? *
                  </ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.panic">
                    <ion-select-option>YES</ion-select-option>
                    <ion-select-option>NO</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.panic"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="cctvValue">Does the Tenant have CCTV Cameras? *</ion-label>
                  <ion-label position="floating" *ngIf="!cctvValue" style="color:red !important">Does the Tenant have
                    CCTV Cameras? *
                  </ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.cctv" (ionChange)="applicable(tenant)">
                    <ion-select-option>YES</ion-select-option>
                    <ion-select-option>NO</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.cctv"></ion-input>
                </ion-item>

                <ion-item *ngIf="tenant.cctv == 'YES'">
                  <ion-label position="floating" *ngIf="workingValue">Are the Cameras Working? *</ion-label>
                  <ion-label position="floating" *ngIf="!workingValue" style="color:red !important">Are the Cameras
                    Working? *</ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.working">
                    <ion-select-option>YES</ion-select-option>
                    <ion-select-option>NO</ion-select-option>
                    <ion-select-option>NOT APPLICABLE</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.working"></ion-input>
                </ion-item>

                <ion-item *ngIf="tenant.cctv == 'NO'">
                  <ion-label position="floating">Are the Cameras Working? *</ion-label>
                  <ion-input [readonly]="view" [(ngModel)]="tenant.working" value="NOT APPLICABLE"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="alarmsValue">Does the Tenant have Alarms? *</ion-label>
                  <ion-label position="floating" *ngIf="!alarmsValue" style="color:red !important">Does the Tenant have
                    Alarms? *</ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.alarms" (ionChange)="applicable(tenant)">
                    <ion-select-option>YES</ion-select-option>
                    <ion-select-option>NO</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.alarms"></ion-input>
                </ion-item>

                <ion-item *ngIf="tenant.alarms == 'YES'">
                  <ion-label position="floating" *ngIf="aworkingValue">Are the Alarms Working? *</ion-label>
                  <ion-label position="floating" *ngIf="!aworkingValue" style="color:red !important">Are the Alarms
                    Working? *</ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.aworking">
                    <ion-select-option>YES</ion-select-option>
                    <ion-select-option>NO</ion-select-option>
                    <ion-select-option>NOT APPLICABLE</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.aworking"></ion-input>
                </ion-item>

                <ion-item *ngIf="tenant.alarms == 'YES'">
                  <ion-label position="floating" *ngIf="testedValue">Have the Alarms been Tested? *</ion-label>
                  <ion-label position="floating" *ngIf="!testedValue" style="color:red !important">Have the Alarms been
                    Tested? *</ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.tested">
                    <ion-select-option>YES</ion-select-option>
                    <ion-select-option>NO</ion-select-option>
                    <ion-select-option>NOT APPLICABLE</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.tested"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" *ngIf="securityValue">Is there in-store Security? *</ion-label>
                  <ion-label position="floating" *ngIf="!securityValue" style="color:red !important">Is there in-store
                    Security? *
                  </ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.security">
                    <ion-select-option>YES</ion-select-option>
                    <ion-select-option>NO</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.security"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Action Items</ion-label>
                  <ion-textarea [readonly]="view" [(ngModel)]="tenant.action"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Action By</ion-label>
                  <ion-input [readonly]="view" [(ngModel)]="tenant.by"></ion-input>
                </ion-item>


                <p class="ion-text-center">RATE OUR SERVICE LEVEL</p>

                <ion-item>
                  <ion-label position="floating" *ngIf="ratingValue">Rating *</ion-label>
                  <ion-label position="floating" *ngIf="!ratingValue" style="color:red !important">Rating *</ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.rating">
                    <ion-select-option>GOOD</ion-select-option>
                    <ion-select-option>FAIR</ion-select-option>
                    <ion-select-option>POOR</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.rating"></ion-input>
                </ion-item>

                <div id="text-area">
                  <ion-item>
                    <ion-label position="floating" *ngIf="commentsValue">Comments *</ion-label>
                    <ion-label position="floating" *ngIf="!commentsValue" style="color:red !important">Comments *
                    </ion-label>
                    <ion-textarea [readonly]="view" type="text" autocomplete="true" spellcheck="true"
                      [(ngModel)]="tenant.comments" autosize></ion-textarea>
                  </ion-item>
                </div>

                <ion-item *ngIf="emailOption">
                  <ion-label *ngIf="emailValue" position="floating">Email to Client? *</ion-label>
                  <ion-label *ngIf="!emailValue" position="floating" style="color:red !important">Email to Client? *
                  </ion-label>
                  <ion-select interface="popover"*ngIf="!view" [(ngModel)]="tenant.emailtoClient">
                    <ion-select-option>Yes</ion-select-option>
                    <ion-select-option>No</ion-select-option>
                  </ion-select>
                  <ion-input *ngIf="view" [readonly]="true" [(ngModel)]="tenant.emailtoClient"></ion-input>
                </ion-item>


                <img [src]="tenant.sigUser" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("sigUser")'>Add Signature
                  </ion-button>
                </ion-item>


                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf="sigValue" class="ion-text-center">Manager Signature *</ion-label>
                      <ion-label *ngIf="!sigValue" class="ion-text-center" style="color:red !important">Manager
                        Signature *
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
             

                <img [src]="tenant.sigClient" style="display: block; margin-left: auto; margin-right: auto;"  alt="">

                <ion-item lines="none">
                  <ion-button  style="margin-left: auto; margin-right: auto;" (click)='openPOP("sigClient")'>Add Rep Signature
                  </ion-button>
                </ion-item>

                <ion-row>
                  <ion-col class="ion-text-center">
                    <ion-item>
                      <ion-label *ngIf="sig2Value" class="ion-text-center">Tenant Rep Signature *</ion-label>
                      <ion-label *ngIf="!sig2Value" class="ion-text-center" style="color:red !important">Tenant Rep
                        Signature *
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
         

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="--background: green;" (click)="check(tenant)">
      Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>